html{
    font-size: 16px;
}
/*main style start*/
:root{
    --mainZ51Col: #a5d300;
    --mainContCol: #a5d300;
    --white: #fff;
    --black: #000;
    --transp: transparent;
    --grey1: #8e8e8e;
    --grey2: #333333;
    --grey3: #222222;
    --green: #90dc00;
    --hoverGreen: #9bc501;
    
/*    4px*/
    --fnt0p25rem: 0.25rem;  
/*    6px*/
    --fnt0p375rem: 0.375rem;    
/*    8px*/
    --fnt0p5rem: 0.5rem;
/*    10px*/
    --fnt0p625rem: 0.625rem;
/*    12px*/
    --fnt0p75rem: 0.75rem;
/*    13px*/
    --fnt0p8125rem: 0.8125rem;
/*    14px*/
    --fnt0p875rem: 0.875rem;
/*    16px*/
    --fnt1rem: 1rem;
/*    18px*/
    --fnt1p125rem: 1.125rem;
/*    20px*/
    --fnt1p25rem: 1.25rem;
/*    22px*/
    --fnt1p1375rem: 1.1375rem;
/*    30px*/
    --fnt1p875rem: 1.875rem;
/*    48px*/
    --fnt3rem: 3rem;
} 

body>div:first-child{
    display: none;
}

body{
    line-height: 1rem;
    min-width: 400px;
    font-family: 'Play', sans-serif;
    background: rgb(0,0,0);
}
body a{
    text-decoration: none;
}

.mainWidth{
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
}

@media only screen and (min-width: 0px){

}
@media only screen and (min-width: 992px){

}

[class*='buttonInv']{
    color: var(--mainZ51Col);
    -webkit-transition: all 0.2s; transition: all 0.2s;
}
[class*='buttonInv']:hover{
    color: var(--hoverGreen);
}

[class*='buttonFGr']{
    background-color: var(--mainZ51Col);
    color: black;
    border: none;
    -webkit-transition: all 0.2s; transition: all 0.2s;
    border-radius: 0;
    letter-spacing: 1.3px;
}
[class*='buttonFGr']:hover{
    background-color: var(--hoverGreen);
    color: black;
}
[class*='-v1']{
    padding: 8px 14px;
}
[class*='-v2']{
    padding: 10px 12px;
}

.mainZ51ColFnt{
   color: var(--mainZ51Col); 
}
.whiteFnt{
   color: var(--white); 
}
.lightGreyFnt{
   color: var(--grey1); 
}

.fntS075rem{
    font-size: var(--fnt0p75rem);
}
.fntS1125rem{
    font-size: var(--fnt1p125rem);
}

header .slogan {
	max-width: 130px;
    font-size: var(--fnt0p8125rem);
    letter-spacing: 1.5px;
}

.sepLine{
    height: 1px;
    background-color: var(--grey3);
}

header{
    position: relative;
    z-index: 2000;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 0px){
    header{
        background: var(--black);
    }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
        .overHeight {
            max-height: 100vh;
            overflow: auto;
        } 
    }
}
@media only screen and (min-width: 992px){
    header{ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
        background: rgb(0,0,0) -webkit-gradient(linear, left top, left bottom, from(rgba(51,51,51,1)), to(rgba(0,0,0,1)));
        background: rgb(0,0,0) linear-gradient(to bottom, rgba(51,51,51,1) 0%, rgba(0,0,0,1)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
        .overHeight{
            max-height: none;
            overflow: visible;
        }
    }
}



/* jQuery.ellipsis style start*/
.ellip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
/* jQuery.ellipsis style end*/

/*header .navbar-z51style start*/
header .navbar-z51 .navbar-toggler-icon {
  width: 20px;
  height: 13px;
  background-size: 20px 13px;
}
header .navbar-z51 .navbar-toggler .navbar-toggler-icon {
  background-image: url("../img/icons/svg/menu.svg");
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
header .navbar-z51 .navbar-toggler:hover .navbar-toggler-icon, .navbar-z51 .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
  -webkit-filter: invert(100%);
    filter: invert(100%);
}
header .navbar-z51 .navbar-toggler {
    padding: 0.84375rem 1rem;
    font-size: 13px;
    line-height: 0;
    border: none;
    border-radius: 0;
    background-color: var(--mainZ51Col);
}
header .navbar-z51 .navbar-toggler:focus, .navbar-z51 .navbar-toggler:hover {
    outline: none;
    background-color: var(--hoverGreen);
}
/*header .navbar-z51style end*/

header .logoImg img{
    width: 170px;
}

/*header jQuery.callUs start*/
header .callUs p, .callUs li {
    cursor: pointer;
    margin: 0;
}
header .callUs .dropdown-toggle-left::before {
    content: "";
    width: 0;
    height: 0;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: var(--mainZ51Col) transparent;  
    margin-right: 0.8rem;
    margin-left: 0.2rem;
}
header .callUs .show .dropdown-toggle-left::before {
    border-width: 0 6px 6px 6px;  
    border-color: var(--mainZ51Col) transparent;
}
header .callUs .dropdown-menu{
    border: none;
    border-radius: 0;
    min-width: -webkit-max-content;min-width: -moz-max-content;min-width: max-content;
    width: 100%;
}
header .callUs .dropdown-item{
     padding: 0.3rem 0 0.3rem 2.75rem;
}
header .callUs .dropdown-item:hover{
    border: none;
    border-radius: 0;
}
@media only screen and (min-width: 0px){
    header .callUs, header .callUs .dropdown-menu, header .callUs .dropdown-item:hover{
        background-color: var(--transp);
    }
    header .callUs .dropdown-menu{
        position: static;
        height: 0;
        overflow: hidden;
        display: block;
    }
    header .callUs .dropdown-menu.show{
        height: auto;
    }
}
@media only screen and (min-width: 992px){
    header .callUs .dropdown-item:hover {
        background-color: var(--grey2);
    }
    header .callUs, header .callUs .dropdown-menu {
        background-color: var(--grey3);
    }
    header .callUs #callUsDropdown {
        max-width: none;
    }
    header .callUs .dropdown-menu{
        position: absolute;
        height: auto;
        overflow: visible;
        display: none;
    }
    header .callUs .dropdown-menu.show{
        display: block;
    }
}
/*header jQuery.callUs end*/

/*header .navbar-collapsestart*/
.navbar-collapse{
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
}
header .navigation .navbar-collapse .navbar-nav .nav-item a{
    color: var(--mainZ51Col);
}
/*header .navbar-collapse end*/

/*header .navigation start*/
.navigation a{
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
    color: var(--mainZ51Col);
}
.navigation a:hover, .navigation .active a{
    color: var(--white);
}
.navigation .langBl a::after{
    display: block;
    content: '';
    border-bottom: 1px dotted var(--transp);
    height: 2px;
    transition: all 0.2s;
}
.navigation .langBl a:hover::after, .navigation .langBl .active a::after{
    border-color: var(--white);
}
/*header .navigation end*/

/*header jQuery.cssmenu start*/
.cssmenu *{
    font-weight: bold;
}
.cssmenu ul li > span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;  
}
.cssmenu ul,
.cssmenu ul li, 
.cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;   
}
.cssmenu ul ul {
  display: none;
}
.cssmenu > ul > li.active > ul {
  display: block;
}
.cssmenu > ul > li > a, .cssmenu > ul > li > span {
  
}
.cssmenu ul ul > li.has-sub > span::after {
  display: block;
  height: 0px;
  width: 0px;
  content: "";
  border-width: 6px 0px 6px 6px;
  border-style: solid;
  border-color: transparent var(--grey1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.cssmenu ul ul > li.has-sub > span:hover::after {
  border-color: transparent var(--white);
}
.cssmenu ul ul > li.has-sub.open > span::after {
    border-color: transparent var(--mainZ51Col);
    -webkit-transform: rotate(90deg);transform: rotate(90deg);
}
.cssmenu ul li.menuName > span b{
    color: var(--black);
}
.cssmenu ul li.menuName > span::after {
  content: '';  
  display: block;
  background-color: transparent;
  background-repeat: no-repeat; 
  margin-left: 0.65rem;
}
.cssmenu ul > li.menuName.has-sub.open > span::after {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.cssmenu ul ul li a, .cssmenu ul ul li span {
  padding: 0.625rem 3.125rem 0.625rem 1.375rem;
  cursor: pointer;
  color: var(--grey1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.cssmenu ul ul li a:hover, .cssmenu ul ul li span:hover {
  color: var(--white);
  background-color: var(--grey2);    
}
.cssmenu ul ul > li.has-sub > span::before {
  top: 16px;
  background: var(--grey1);
}
.cssmenu .has-sub > ul {
  background: var(--grey3);
  width: 100%;
  min-width: -webkit-max-content;min-width: -moz-max-content;min-width: max-content;
}
.cssmenu > ul > li{
    position: relative;
}
.cssmenu > ul > li > ul{
    left: 0;
    top: 100%;
    width: 100%; 
}
.cssmenu li.has-sub > ul ul li{
  padding-left: 0.625rem;
}
.cssmenu ul ul li.has-sub.open > span{
  color: var(--mainZ51Col);
  padding-left: 0.875rem;
}
@media only screen and (min-width: 0px){
    .cssmenu ul li.menuName > span:after {
      width: 0px;
      height: 0px;
      background-image: none;
      border-width: 6px 6px 0 6px;
      border-style: solid;
      border-color: var(--black) transparent;
    }
    .cssmenu > ul > li > ul{
        position: static;
    }
}
@media only screen and (min-width: 992px){
    .cssmenu ul li.menuName > span:after {
      width: 20px;
      height: 13px;
      background-image: url('../img/icons/svg/menu.svg');
      border: 0;
    }
    .cssmenu > ul > li > ul{
        position: absolute;
    }
}
/*header jQuery.cssmenu style end*/

/*.topSearch start*/
.topSearch{
    position: relative;
}
.topSearch input, .topSearch button{
    outline: none;
    border: none;
    background-color: white;
}
.topSearch button {
    width: 3rem;
    height: 100%;
    background-color: var(--white);
    background-image: url('../img/icons/svg/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21px 22px;
}
.topSearch button:hover {
    background-image: url('../img/icons/svg/search-hover.svg');
}
.topSearch .offerSearchRes {
    background-color: var(--grey3);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 3000;
    display: none;
}
#smSearch.topSearch .offerSearchRes {
    position: fixed;
}
.topSearch .offerSearchRes .offerProduct {
    border-left: 2px solid var(--grey2); 
    border-right: 2px solid var(--grey2); 
    transition: all 0.1s;
}
.topSearch .offerSearchRes .offerProduct:last-child {
    border-bottom: 2px solid var(--grey2);  
}
.topSearch .offerSearchRes .offerProduct:hover {
    background-color: var(--grey2);
}
.topSearch .offerSearchRes .offerProduct .offerProductStatus *{
    font-size: var(--fnt0p875rem);
}
.topSearch .offerSearchRes .offerProduct a{
    transition: all 0.1s;
    text-decoration: none;
    color: var(--white);
}
.topSearch .offerSearchRes .offerProduct a:hover{
    color: var(--mainZ51Col);
}
.topSearch .offerProduct .offerProductStatus span{
    color: var(--mainZ51Col);
}
.topSearch .offerProduct .offerProductStatus p{
    color: var(--white);
}
.topSearch .offerSearchRes .offerProduct img{
    height: 50px;
    width: 50px;
}
.topSearch .offerSearchRes.visible {
    display: block;
}
@media only screen and (min-width: 0px){
    .topSearch{
        height: 2.5rem;
    }
}
@media only screen and (min-width: 992px){
    .topSearch{
        height: 3rem;
    }
}
/**.topSearch style end*/

/*.home start*/
.home li{
    display: block;
}  
.home .home-icons .icon-name{
    text-align: center;
    -webkit-transition: all 0.2s; transition: all 0.2s;
    margin-top: 0.4rem;
    line-height: 0.625rem;
} 
.home .home-icons a{
    text-decoration: none;
    color: var(--grey1);
} 
.home .home-icons a:hover{
    text-decoration: none;
    color: var(--hoverGreen);
} 
.home .home-icons.active .icon-name{
    color: var(--hoverGreen);
} 
.home .home-icons a:hover .icon-name{
    color: var(--hoverGreen);
}
.home .home-icons [class*='counter']{
    text-align: center;
    border: 1px solid var(--grey1);
/*    padding: 1px 3px 3px 3px;*/
    margin-left: 3px;
    width: auto;
    min-width: 18px;
}
.home .home-icons a::before{
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s; transition: all 0.2s;
} 
.home .home-icons.cab a::before{
    background-image: url('../img/icons/svg/cab.svg');
    height: 23px;
    width: 19px;
    background-size: 19px 23px;
} 
.home .home-icons.cab a:hover::before, .home .home-icons.active.cab a::before {
    background-image: url('../img/icons/svg/cab-hover.svg');
} 
.home .home-icons.wish a::before{
    background-image: url('../img/icons/svg/wish.svg');
    height: 22px;
    width: 22px;
    background-size: 22px 22px;
} 
.home .home-icons.wish a:hover::before, .home .home-icons.active.wish a::before {
    background-image: url('../img/icons/svg/wish-hover.svg');
} 
.home .home-icons.comparison a::before{
    background-image: url('../img/icons/svg/comparison.svg');
    height: 17px;
    width: 19px;
    background-size: 17px 19px;
} 
.home .home-icons.comparison a:hover::before, .home .home-icons.active.comparison a::before {
    background-image: url('../img/icons/svg/comparison-hover.svg');
} 
.home .home-icons.cart a::before{
    background-image: url('../img/icons/svg/cart.svg');
    height: 17px;
    width: 23px;
    background-size: 23px 17px;
} 
.home .home-icons.cart a:hover::before, .home .home-icons.active.cart a::before {
    background-image: url('../img/icons/svg/cart-hover.svg');
}  
@media only screen and (min-width: 0px){
    .home {
        height: auto;
    }
}
@media only screen and (min-width: 992px){
    .home {
        height: 3rem;
    }  
}
/*.home style end*/

/*header .breadcrumbs style start*/
.contentWrapper .breadcrumbs li a{
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
    color: var(--grey1);
}
.contentWrapper .breadcrumbs li a:hover{
    color: var(--white);
}
.contentWrapper .breadcrumbs li:first-child::before {
    content: "";
    display: block;
    height: 18px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 18px;
    background-image: url('../img/icons/svg/home.svg');
    margin-right: 1rem;
}
.contentWrapper .breadcrumbs li{
    color: var(--white);
    padding-bottom: 0.3rem;
    list-style: none;
}
.contentWrapper .breadcrumbs li::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
     border-width: 6px 0px 6px 6px;
    border-style: solid;
    border-color: transparent var(--mainZ51Col); 
    margin: 0 1.2em;
}
.contentWrapper .breadcrumbs li:last-child::after {
    display: none;
}
.contentWrapper .breadcrumbs li:last-child *{
    color: var(--white);
    width: 170px;
}
/*header .breadcrumbs style end*/

/*header .catName style start*/
.contentWrapper .catName h1{
    font-size: var(--fnt3rem);
    color: var(--mainContCol);
    letter-spacing: 1.4px;
}
.contentWrapper .line{
    background-color: var(--white);
    height: 2px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 0.5rem;
}
@media only screen and (min-width: 0px){
    .contentWrapper .catName h1{
        font-size: var(--fnt1p875rem);
    }
}
@media only screen and (min-width: 992px){
    .contentWrapper .catName h1{
        font-size: var(--fnt3rem);
    } 
}
/*header .catName style end*/



/*aside style start*/

aside .asideTxt{
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: var(--white);
}
@media only screen and (min-width: 0px){
    aside{
        width: 0;
    }
}
@media only screen and (min-width: 992px){
    aside{
        width: 300px;
    }
}
/*aside style end*/

/*.asideAndArticle style start*/
.asideAndArticle .navbar-toggler-icon {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}
.asideAndArticle .navbar-toggler .navbar-toggler-icon {
  background-image: url("../img/icons/svg/filter.svg");
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.asideAndArticle .navbar-toggler:hover .navbar-toggler-icon, .asideAndArticle .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
  -webkit-filter: invert(100%);
    filter: invert(100%);
}
.asideAndArticle .navbar-toggler span{
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.asideAndArticle .navbar-toggler:hover span, .asideAndArticle .navbar-toggler[aria-expanded="true"] span{
  color: var(--white);
}
.asideAndArticle .navbar-toggler {
    padding: 0.3rem 0.6rem;
    font-size: 13px;
    line-height: 0;
    border: none;
    border-radius: 0;
    background-color: var(--mainZ51Col);
}
.asideAndArticle .navbar-toggler:focus, .asideAndArticle .navbar-toggler:hover {
    outline: none;
    background-color: var(--hoverGreen);
}
@media only screen and (min-width: 0px){
    .asideCollapse{
        top: 0;
        left: 0;
        height: 0;
        min-width: 400px;
        width: 100vw; 
        z-index: 2500;
        background-color: black;
        overflow: auto;
        padding: 0.25rem 0.25rem;
    }
    .asideCollapse.show{
        height: 100%;
    }
}
@media only screen and (min-width: 992px){
    .asideCollapse{
        top: auto;
        left: auto;
        min-width: inherit;
        height: auto;
        width: auto;  
        z-index: auto;
        background-color: transparent;
    }
}
/*.asideAndArticle style end*/

/*.customZ51Checkbox style start*/
.customZ51Checkbox label{
    color: var(--grey1);
    font-size: var(--fnt0p875rem);
    position: relative;
}
.customZ51Checkbox > p{
    cursor: pointer;
}
.customZ51Checkbox ul p{
    color: var(--white);
    font-size: var(--fnt0p875rem);
}
.customZ51Checkbox > p::after{
    content: '';
    display: block;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: var(--mainZ51Col) transparent;
}
.customZ51Checkbox.visible > p::after{
    border-width: 0 6px 6px 6px;  
}
.customZ51Checkbox > ul{
    height: 0;
    overflow: hidden;
}
.customZ51Checkbox.visible > ul{
    height: auto;
}
.customZ51Checkbox input[type=checkbox], input[type=radio] {
    display: none;
}
.customZ51Checkbox label::after,.customZ51Checkbox label::before{
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
}
.customZ51Checkbox label::before{
    top: -2px;
    left: -3px;
    width: 20px;
    height: 20px;
    background-color: var(--transp);
    border-radius: 0 !important;
    outline: 1px solid var(--grey3);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.customZ51Checkbox label:hover::before{
    outline: 1px solid var(--grey2);
}
.customZ51Checkbox input:checked ~  label::after {
    top: 3px;
    left: 2px;
    background-image: none;
    width: 10px;
    height: 10px;
    background-color: var(--mainContCol);
}
.customZ51Checkbox input:not(:disabled):active ~ label::before, .customZ51Checkbox input:checked ~ label::before  {
    background-color: var(--transp);
    border-color: var(--grey3);
    -webkit-box-shadow: var(--transp);
            box-shadow: var(--transp);
}
.customZ51Checkbox .showAll{
    cursor: pointer;
    color: var(--mainContCol);
    font-size: var(--fnt0p875rem);
}
.customZ51Checkbox .showAll:hover{
    color: var(--white);
}
/*.customZ51Checkbox style end*/

/*.priceVal style start*/
.priceVal .slider.slider-horizontal {
    width: 97%;
}
.priceVal .priceInp input{
    color: var(--grey1);
    background-color: var(--transp);
    border: 1px solid var(--grey3);
    width: 110px;
    text-align: center;
    padding: 0.6rem 0 0.6rem 0;
}
.priceVal .slider-track {
    height: 4px !important;
    border-radius: 0 !important;
    background-image: none !important;
    margin-top: -4px !important;
}
.priceVal .slider-selection {
    background-image: none;
    background-color: var(--mainContCol);
    border-radius: 0;
}
.priceVal .slider-track-high, .priceVal .slider-track-low{
    background-image: none;
    border-radius: 0;
    background-color: var(--grey2);
}
.priceVal .slider-handle {
    cursor: pointer;
    width: 10px;
    height: 16px;
    background-image: none;
    background-color: var(--mainContCol);
}
.priceVal .min-slider-handle {
    margin-left: 0px !important;
}
.priceVal .tooltip {
    display: none !important;
}
/*.priceVal style end*/

.filterRes>div{
    outline: 1px solid var(--grey1);
    outline-offset: -1px;
    line-height: 0.5rem;
    margin-left: 0.625rem;
}
.filterRes>div:first-child {
    margin-left: 0;
}
.filterRes>div:last-child {
    outline: none;
}
.filterRes>div>span{
    line-height: 0.5rem;
}
.filterRes>div>span:first-child{
    color: var(--grey1);
    font-size: var(--fnt0p75rem);
}
.filterRes>div>span:last-child{
    color: var(--mainContCol);
    font-size: var(--fnt0p625rem);
    cursor: pointer;
}
.filterRes>div:last-child span{
    color: var(--grey1);
    font-size: var(--fnt0p875rem);
    line-height: 1rem;
}
.filterRes>div:last-child span:last-child{
    color: var(--white);
    border-bottom: 1px dotted var(--white);
}
@media only screen and (min-width: 0px){
    .filterRes>div:last-child {
        margin-left: 0.5rem;
    }
}
@media only screen and (min-width: 992px){
    .filterRes>div:last-child {
        margin-left: 1.25rem;
    }

}
















