html{
    font-size: 16px;
}
/*main style start*/
:root{
    --mainZ51Col: #a5d300;
    --mainContCol: #a5d300;
    --white: #fff;
    --red: #ff002f;
    --orange: orange;
    --darkviolet: darkviolet;
    --black: #000;
    --transp: transparent;
    --grey1: #8e8e8e;
    --grey2: #333333;
    --grey3: #222222;
    --grey4: #666666;
    --green: #90dc00;
    --hoverGreen: #9bc501;
    --hoverWhite: rgba(255,255,255, 0.1);
    
/*    4px*/
    --fnt0p25rem: 0.25rem;  
/*    5px*/
    --fnt0p3125rem: 0.3125rem; 
/*    6px*/
    --fnt0p375rem: 0.375rem;    
/*    8px*/
    --fnt0p5rem: 0.5rem;
/*    10px*/
    --fnt0p625rem: 0.625rem;
/*    12px*/
    --fnt0p75rem: 0.75rem;
/*    13px*/
    --fnt0p8125rem: 0.8125rem;
/*    14px*/
    --fnt0p875rem: 0.875rem;
/*    16px*/
    --fnt1rem: 1rem;
/*    18px*/
    --fnt1p125rem: 1.125rem;
/*    20px*/
    --fnt1p25rem: 1.25rem;
/*    22px*/
    --fnt1p1375rem: 1.1375rem;
/*    30px*/
    --fnt1p875rem: 1.875rem;
/*    36px*/
    --fnt2p25rem: 2.255rem;
/*    48px*/
    --fnt3rem: 3rem;
} 

body>div:first-child{
    display: none;
}

body{
    line-height: 1rem;
    min-width: 20rem;
    font-family: 'Play', sans-serif;
    background: rgb(0,0,0); 
    min-height: 100vh;
}
body a{
    text-decoration: none;
}

.mainWidth{
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
}

@media only screen and (min-width: 0px){

}
@media only screen and (min-width: 992px){

}

.btnBrdr{
    color: var(--mainContCol);
    border: 2px solid var(--mainContCol);
    text-transform: uppercase;
    font-size: var(--fnt0p875rem);
    line-height: 0.75rem;
    transition: all 0.1s;
    cursor: pointer;
}
.btnBrdr:hover{
    color: var(--white);
    background-color: var(--hoverGreen);
}

.buttonFGr{
    background-color: var(--mainZ51Col);
    color: var(--black);
    border: none;
    -webkit-transition: all 0.1s; transition: all 0.1s;
    border-radius: 0;
    letter-spacing: 1.3px;
}
.buttonFGr:hover{
    background-color: var(--hoverGreen);
    color: var(--white);
}


.mainZ51ColFnt{
   color: var(--mainZ51Col); 
}
.whiteFnt{
   color: var(--white); 
}
.lightGreyFnt{
   color: var(--grey1); 
}

.fntS075rem{
    font-size: var(--fnt0p75rem);
}
.fntS1125rem{
    font-size: var(--fnt1p125rem);
}

header .slogan {
	max-width: 8.125rem;
    font-size: var(--fnt0p8125rem);
    letter-spacing: 1.5px;
}

.sepLine{
    height: 1px;
    background-color: var(--grey3);
}

/*.customDrop style start*/
.customDrop label{
    color: var(--grey1);
    font-size: var(--fnt0p875rem);
    position: relative;
}
.customDrop > p{
    cursor: pointer;
}
.customDrop ul p{
    color: var(--white);
    font-size: var(--fnt0p875rem);
}
.customDrop > p::after{
    content: '';
    display: block;
    border-style: solid;
    border-width: 0.375rem 0.375rem 0 0.375rem;
    border-color: var(--mainZ51Col) var(--transp);
}
.customDrop.visibleBl > p::after{
    border-width: 0 0.375rem 0.375rem 0.375rem;  
}
.customDrop > ul{
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .3s;
    transition: max-height .3s;
}
.customDrop.visibleBl > ul{
    max-height: calc(100vh * 2);
}
.customDrop.absDrop{
    position: relative;
}
.customDrop.absDrop>ul{
    position: absolute;
    top: 100%;
    left: 0;
}
.customDrop.absDrop ul li{
    cursor: pointer;
}
/*.customDrop style end*/



header{
    position: relative;
    z-index: 2000;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 0px){
    header{
        background: var(--black);
    }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
        .overHeight {
            max-height: 100vh;
            overflow-y: auto;
            overflow-x: hidden;
        } 
    }
}
@media only screen and (min-width: 992px){
    header{ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
        background: rgb(0,0,0) -webkit-gradient(linear, left top, left bottom, from(rgba(51,51,51,1)), to(rgba(0,0,0,1)));
        background: rgb(0,0,0) linear-gradient(to bottom, rgba(51,51,51,1) 0%, rgba(0,0,0,1)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
        .overHeight{
            max-height: none;
            overflow: visible;
        }
    }
}



/* jQuery.ellipsis style start*/
.ellip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
/* jQuery.ellipsis style end*/

/*header .navbar-z51style start*/
header .navbar-z51 .navbar-toggler-icon {
  width: 1.25rem;
  height: 0.8125rem;
  background-size: 1.25rem 0.8125rem;
}
header .navbar-z51 .navbar-toggler .navbar-toggler-icon {
  background-image: url("../img/icons/svg/menu.svg");
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
header .navbar-z51 .navbar-toggler:hover .navbar-toggler-icon, .navbar-z51 .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
  -webkit-filter: invert(100%);
    filter: invert(100%);
}
header .navbar-z51 .navbar-toggler {
    padding: 0.84375rem 1rem;
    font-size: 0.8125rem;
    line-height: 0;
    border: none;
    border-radius: 0;
    background-color: var(--mainZ51Col);
}
header .navbar-z51 .navbar-toggler:focus, .navbar-z51 .navbar-toggler:hover {
    outline: none;
    background-color: var(--hoverGreen);
}
/*header .navbar-z51style end*/

.logoImg img{
    width: 170px;
}

/*header jQuery.callUs start*/
#callUsDropdown{
    z-index: 2100;
}
header .callUs p, .callUs li {
    cursor: pointer;
    margin: 0;
}
header .callUs p::before {
    content: "";
    width: 0;
    height: 0;
    border-width: 0.375rem 0.375rem 0 0.375rem;
    border-style: solid;
    border-color: var(--mainZ51Col) var(--transp);  
    margin-right: 0.8rem;
    margin-left: 0.2rem;
}
header .callUs .visibleBl p::before {
    border-width: 0 0.375rem 0.375rem 0.375rem;  
    border-color: var(--mainZ51Col) var(--transp);
}
header .callUs #callUsDropdown p::after{
    display: none;
}
header .callUs #callUsDropdown ul{
    border: none;
    border-radius: 0;
    min-width: -webkit-max-content;min-width: -moz-max-content;min-width: max-content;
    width: 100%;
}
header .callUs li{
     padding: 0.3rem 0 0.3rem 2.75rem;
}
header .callUs li:hover{
    border: none;
    border-radius: 0;
}
.callUs #callUsDropdown a{
    text-decoration: none;
}
@media only screen and (min-width: 0px){
    header .callUs, header .callUs ul, header .callUs li:hover{
        background-color: var(--transp);
    }
    header .callUs #callUsDropdown ul{
        position: static;
    }
}
@media only screen and (min-width: 992px){
    header .callUs li:hover {
        background-color: var(--grey2);
    }
    header .callUs, header .callUs ul {
        background-color: var(--grey3);
    }
    header .callUs #callUsDropdown {
        max-width: none;
    }
    header .callUs #callUsDropdown ul{
        position: absolute;
    }
}
/*header jQuery.callUs end*/

/*header .navbar-collapsestart*/
.navbar-collapse{
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
}
header .navigation .navbar-collapse .navbar-nav .nav-item a{
    color: var(--mainZ51Col);
}
/*header .navbar-collapse end*/

/*header .navigation start*/
.navigation a{
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    text-decoration: none;
    color: var(--mainZ51Col);
}
.navigation a:hover, .navigation .active a{
    color: var(--white);
}
.navigation .langBl a::after{
    display: block;
    content: '';
    border-bottom: 1px dotted var(--transp);
    height: 2px;
    -webkit-transition: all 0.1s;transition: all 0.1s;
}
.navigation .langBl a:hover::after, .navigation .langBl .active a::after{
    border-color: var(--white);
}
/*header .navigation end*/

/*.topSearch start*/
.topSearch{
    position: relative;
}
.topSearch input, .topSearch button{
    outline: none;
    border: none;
    background-color: white;
}
.topSearch button {
    width: 3rem;
    height: 100%;
    background-color: var(--white);
    background-image: url('../img/icons/svg/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21px 22px;
}
.topSearch button:hover {
    background-image: url('../img/icons/svg/search-hover.svg');
}
.topSearch .offerSearchRes {
    background-color: var(--grey3);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 3000;
    display: none;
}
#smSearch.topSearch .offerSearchRes {
    position: fixed;
}
.topSearch .offerSearchRes .offerProduct {
    border-left: 2px solid var(--grey2); 
    border-right: 2px solid var(--grey2); 
    transition: all 0.1s;
}
.topSearch .offerSearchRes .offerProduct:last-child {
    border-bottom: 2px solid var(--grey2);  
}
.topSearch .offerSearchRes .offerProduct:hover {
    background-color: var(--grey2);
}
.topSearch .offerSearchRes .offerProduct .offerProductStatus *{
    font-size: var(--fnt0p875rem);
}
.topSearch .offerSearchRes .offerProduct a{
    transition: all 0.1s;
    text-decoration: none;
    color: var(--white);
}
.topSearch .offerSearchRes .offerProduct a:hover{
    color: var(--mainZ51Col);
}
.topSearch .offerProduct .offerProductStatus span{
    color: var(--mainZ51Col);
}
.topSearch .offerProduct .offerProductStatus p{
    color: var(--white);
}
.topSearch .offerSearchRes .offerProduct img{
    height: 3.125rem;
    width: 3.125rem;
}
.topSearch .offerSearchRes.visibleBl {
    display: block;
}
@media only screen and (min-width: 0px){
    .topSearch{
        height: 2.5rem;
    }
}
@media only screen and (min-width: 992px){
    .topSearch{
        height: 3rem;
    }
}
/**.topSearch style end*/

/*.home start*/
.home li{
    display: block;
    max-width: 75px;
}  
.home .home-icons .icon-name{
    text-align: center;
    -webkit-transition: all 0.1s; transition: all 0.1s;
    margin-top: 0.4rem;
    line-height: 0.625rem;
} 
.home .home-icons a{
    text-decoration: none;
    color: var(--grey1);
} 
.home .home-icons a:hover{
    text-decoration: none;
    color: var(--hoverGreen);
} 
.home .home-icons.active .icon-name{
    color: var(--hoverGreen);
} 
.home .home-icons a:hover .icon-name{
    color: var(--hoverGreen);
}
.home .home-icons [class*='counter']{
    text-align: center;
    border: 1px solid var(--grey1);
    margin-left: 3px;
    width: auto;
    min-width: 1.125rem;
}
.home .home-icons a::before{
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.1s; transition: all 0.1s;
} 
.home .home-icons.cab a::before{
    background-image: url('../img/icons/svg/cab.svg');
    height: 1.4375rem;
    width: 19px;
    background-size: 19px 1.4375rem;
} 
.home .home-icons.cab a:hover::before, .home .home-icons.active.cab a::before {
    background-image: url('../img/icons/svg/cab-hover.svg');
} 
.home .home-icons.wish a::before{
    background-image: url('../img/icons/svg/wish.svg');
    height: 22px;
    width: 22px;
    background-size: 22px 22px;
} 
.home .home-icons.wish a:hover::before, .home .home-icons.active.wish a::before {
    background-image: url('../img/icons/svg/wish-hover.svg');
} 
.home .home-icons.comparison a::before{
    background-image: url('../img/icons/svg/comparison.svg');
    height: 17px;
    width: 19px;
    background-size: 17px 19px;
} 
.home .home-icons.comparison a:hover::before, .home .home-icons.active.comparison a::before {
    background-image: url('../img/icons/svg/comparison-hover.svg');
} 
.home .home-icons.cart a::before{
    background-image: url('../img/icons/svg/cart.svg');
    height: 17px;
    width: 1.4375rem;
    background-size: 1.4375rem 17px;
} 
.home .home-icons.cart a:hover::before, .home .home-icons.active.cart a::before {
    background-image: url('../img/icons/svg/cart-hover.svg');
}  
.home .home-icons.entered a::before{
    background-image: url('../img/icons/svg/user.svg');
    height: 1.25rem;
    width: 1.4375rem;
    background-size: 1.4375rem 1.25rem;
} 
.home .home-icons.entered a:hover::before, .home .home-icons.active.entered a::before {
    background-image: url('../img/icons/svg/user-hover.svg');
}  
@media only screen and (min-width: 992px){
    .home {
        height: 3rem;
    }  
}
/*.home style end*/

/*header .breadcrumbs style start*/
.contentWrapper .breadcrumbs li a{
    display: block;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    text-decoration: none;
    color: var(--grey1);
}
.contentWrapper .breadcrumbs li a:hover{
    color: var(--white);
}
.contentWrapper .breadcrumbs li:first-child::before {
    content: "";
    display: block;
    height: 1.125rem;
    width: 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.25rem 1.125rem;
    background-image: url('../img/icons/svg/home.svg');
    margin-right: 1rem;
}
.contentWrapper .breadcrumbs li{
    color: var(--white);
    padding-bottom: 0.3rem;
    list-style: none;
}
.contentWrapper .breadcrumbs li::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
     border-width: 0.375rem 0px 0.375rem 0.375rem;
    border-style: solid;
    border-color: var(--transp) var(--mainZ51Col); 
    margin: 0 1.2em;
}
.contentWrapper .breadcrumbs li:last-child::after {
    display: none;
}
.contentWrapper .breadcrumbs li:last-child *{
    color: var(--white);
    width: 170px;
}
/*header .breadcrumbs style end*/

/*header .catName style start*/
.contentWrapper .catName h1{
    font-size: var(--fnt3rem);
    color: var(--mainContCol);
    letter-spacing: 1.4px;
}
.contentWrapper .line{
    background-color: var(--white);
    height: 2px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 0.5rem;
}
@media only screen and (min-width: 0px){
    .contentWrapper .catName h1{
        font-size: var(--fnt1p875rem);
    }
}
@media only screen and (min-width: 992px){
    .contentWrapper .catName h1{
        font-size: var(--fnt3rem);
    } 
}
/*header .catName style end*/



/*aside style start*/

aside .asideTxt{
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: var(--white);
    transition: all 0.1s;
}

@media only screen and (min-width: 0px){
    aside{
        width: 0;
    }
}
@media only screen and (min-width: 992px){
    aside{
        width: 300px;
    }
}
/*aside style end*/

/*.asideAndArticle style start*/
.asideAndArticle .navbar-toggler-icon {
  width: 1rem;
  height: 1rem;
  background-size: 1rem 1rem;
}
.asideAndArticle .navbar-toggler .navbar-toggler-icon {
  background-image: url("../img/icons/svg/filter.svg");
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.asideAndArticle .navbar-toggler:hover .navbar-toggler-icon, .asideAndArticle .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
  -webkit-filter: invert(100%);
    filter: invert(100%);
}
.asideAndArticle .navbar-toggler span{
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.asideAndArticle .navbar-toggler:hover span, .asideAndArticle .navbar-toggler[aria-expanded="true"] span{
  color: var(--white);
}
.asideAndArticle .navbar-toggler {
    padding: 0.7rem 0.9rem;
    font-size: 0.8125rem;
    line-height: 0;
    border: none;
    border-radius: 0;
    background-color: var(--mainZ51Col);
}
.asideAndArticle .navbar-toggler:focus, .asideAndArticle .navbar-toggler:hover {
    outline: none;
    background-color: var(--hoverGreen);
}
@media only screen and (min-width: 0px){
    .asideCollapse{
        top: 0;
        left: 0;
        height: 0;
        min-width: 20rem;
        width: 100vw; 
        z-index: 2500;
        background-color: black;
        overflow: auto;
        padding: 0.25rem 0.25rem;
    }
    .asideCollapse.show{
        height: 100%;
    }
}
@media only screen and (min-width: 992px){
    .asideCollapse{
        top: auto;
        left: auto;
        min-width: inherit;
        height: auto;
        width: auto;  
        z-index: auto;
        background-color: var(--transp);
    }
}
/*.asideAndArticle style end*/


/*.customZ51Checkbox style start*/
.customZ51Checkbox input[type=checkbox], input[type=radio] {
    display: none;
}
.customZ51Checkbox label::after,.customZ51Checkbox label::before{
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
}
.customZ51Checkbox label{
    cursor: pointer;
}
.customZ51Checkbox label::before{
    top: -2px;
    left: -3px;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--transp);
    border-radius: 0 !important;
    outline: 1px solid var(--grey3);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.customZ51Checkbox label:hover::before{
    outline: 1px solid var(--grey2);
}
.customZ51Checkbox input:checked ~  label::after {
    top: 3px;
    left: 2px;
    background-image: none;
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--mainContCol);
}
.customZ51Checkbox input:not(:disabled):active ~ label::before, .customZ51Checkbox input:checked ~ label::before  {
    background-color: var(--transp);
    border-color: var(--grey3);
    -webkit-box-shadow: var(--transp);
            box-shadow: var(--transp);
}
.customZ51Checkbox .asideTxt:hover{
    color: var(--mainContCol);
}
.customZ51Checkbox label:hover{
    color: var(--mainContCol);
}

.customZ51Checkbox .showAll{
    cursor: pointer;
    color: var(--mainContCol);
    font-size: var(--fnt0p875rem);
}
.customZ51Checkbox .showAll:hover{
    color: var(--white);
}
/*.customZ51Checkbox style end*/

/*.priceVal style start*/
.priceVal .slider.slider-horizontal {
    width: 97%;
}
.priceVal .priceInp input{
    color: var(--grey1);
    background-color: var(--transp);
    border: 1px solid var(--grey3);
    width: 6.875rem;
    text-align: center;
    padding: 0.6rem 0 0.6rem 0;
}
.priceVal .slider-track {
    height: 4px !important;
    border-radius: 0 !important;
    background-image: none !important;
    margin-top: -4px !important;
}
.priceVal .slider-selection {
    background-image: none;
    background-color: var(--mainContCol);
    border-radius: 0;
}
.priceVal .slider-track-high, .priceVal .slider-track-low{
    background-image: none;
    border-radius: 0;
    background-color: var(--grey2);
}
.priceVal .slider-handle {
    cursor: pointer;
    width: 0.625rem;
    height: 1rem;
    background-image: none;
    background-color: var(--mainContCol);
}
.priceVal .min-slider-handle {
    margin-left: 0px !important;
}
.priceVal .tooltip {
    display: none !important;
}
/*.priceVal style end*/

/*.filterRes style start*/
.filterRes .result{
    outline: 1px solid var(--grey1);
    outline-offset: -1px;
    line-height: 0.5rem;
    margin-left: 0.625rem;
    cursor: pointer;
    -webkit-transition: all 0.1s;transition: all 0.1s;
}
.filterRes span{
    -webkit-transition: all 0.1s;transition: all 0.1s;
}
.filterRes .result:hover{
    outline-color: var(--mainContCol);
}
.filterRes .result:hover span:first-child{
    color: var(--mainContCol);
}
.filterRes>div:first-child {
    margin-left: 0;
}
.filterRes>div>span{
    line-height: 0.5rem;
}
.filterRes .result span:first-child{
    color: var(--grey1);
    font-size: var(--fnt0p75rem);
}
.filterRes .result span:last-child{
    color: var(--mainContCol);
    font-size: var(--fnt0p625rem);
}
.filterRes>div:last-child span{
    color: var(--grey1);
    font-size: var(--fnt0p875rem);
    line-height: 1rem;
}
.filterRes>div:last-child span:last-child{
    color: var(--white);
    border-bottom: 1px dotted var(--white);
    cursor: pointer;
}
.filterRes>div:last-child span:last-child:hover{
    color: var(--mainContCol);
    border-color: var(--mainContCol);
}
@media only screen and (min-width: 0px){
    .filterRes>div:last-child {
        margin-left: 0rem;
    }
}
@media only screen and (min-width: 576px){
    .filterRes>div:last-child {
        margin-left: 1.25rem;
    }

}
/*.filterRes style end*/

/*.sortBlock style start*/
.sortBlock *{
    font-size: var(--fnt0p875rem);
}
.sortBlock span{
    color: var(--grey1);
}
.sortBlock li, .sortBlock p{
    color: var(--white);
}
.sortBlock .customDrop p{
    border: 1px solid var(--grey1);
	border-bottom: var(--transp);
}
.sortBlock .customDrop p:hover{
    background-color: var(--hoverWhite);
}
.sortBlock .customDrop p::after{
    margin-left: 1rem;
}
.sortBlock .customDrop ul {
    min-height: 1px;
	border: 1px solid var(--grey1);
    border-top: var(--transp);
    background-color: var(--black);
    z-index: 3;
}
.sortBlock li:hover{
    background-color: var(--hoverWhite);
}    
/*.sortBlock style end*/

/*.goodWrap style start*/

.goodWrap{
    position: relative;
    width: 18.75rem;
    height: 31.125rem;
}
.goods a{
    text-decoration: none;
}
.goods .goodbl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid var(--grey2);
    max-height: 31.125rem;
    overflow: hidden;
    background-color: var(--black);
    z-index: 1;
    box-shadow: 0px 0px 15px 8px var(--transp);
}
.goods .goodbl:hover {
    box-shadow: 0px 0px 15px 8px var(--mainContCol);
    z-index: 2;
    max-height: calc(100vh * 2);
}
.goods .goodbl .goodInfoTop{
    position: absolute;
    top: 1.125rem;
    left: 1.125rem;
    width: calc(100% - 2.25rem);
}
.goods .goodbl .orderCode{
    padding: 0.125rem 0 0 0;
}
.goods .goodbl .orderCode .events{
    margin-top: 0.3125rem;
}
.goods .goodbl .orderCode > span{
    font-size: var(--fnt0p75rem);
    color: var(--grey1);
}
.goods .goodbl .orderCode > span:last-child{
    color: var(--white);
}
.goods .goodbl .events > *{
    display: block;
    width: 76px;
    text-align: center;
    padding: 0.3125rem 0;
    color: var(--mainContCol);
    border: 2px solid var(--mainContCol);
    text-transform: uppercase;
    font-size: var(--fnt0p875rem);
    line-height: 0.75rem;
    margin-bottom: 0.3125rem;
    transition: all 0.1s;
}
.goods .goodbl .events > a:hover{
    color: var(--white);
    background-color: var(--hoverGreen);
}
.goods .goodbl .events .redEvent{
    color: var(--red);
    border-color: var(--red);
}
.goods .goodbl .events .orangeEvent{
    color: var(--orange);
    border-color: var(--orange);
}
.goods .goodbl .events .darkvioletEvent{
    color: var(--darkviolet);
    border-color: var(--darkviolet);
}
@media only screen and (min-width: 0px){
    .goods{
        padding-right: 0.625rem;
    }
    .goods .goodWrap{
        margin: 0.625rem 0 0 0.625rem;
    }
}
@media only screen and (min-width: 992px){
    .goods{
        padding-right: 0rem;
    }
    .goods .goodWrap{
        margin: 1.25rem 0 0 1.25rem;
    }
}



.goods .goodbl .goodName{
    text-decoration: none;
    display: block;
    width: 100%;
    margin-top: 3.125rem;
    color: var(--white);
    margin-bottom: 0.875rem;
    height: 312px;
}
.goods .goodbl .goodName p{
    height: 3.125rem;
    width: calc(100% - 2.25rem);
    margin: 0 auto; 
    display: -webkit-box;display: -ms-flexbox;display: flex;
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;
    -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
}
.goods .goodbl .goodName p span{
    text-align: center;
    display: block;
    -webkit-transition: all 0.1s;transition: all 0.1s;
    position: relative;
}
.goods .goodbl .goodName p span:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    background: -webkit-gradient(linear, left top, right top, from(var(--transp)), color-stop(var(--mainContCol)), color-stop(var(--mainContCol)), to(var(--transp)));background: linear-gradient(to right, var(--transp), var(--mainContCol), var(--mainContCol), var(--transp));
    transition: all 0.2s;
}
.goods .goodbl .goodName:hover p span:before {
    width: 100%;
    left: 0;
}
.goods .goodbl > .goodName:hover span{
    color: var(--mainContCol);
}
.goods .goodbl > .goodName img{
    display: block;
    width: calc(100% - 2.25rem);
    margin: 0 auto;
}

.goods .goodbl .goodInfoBottom {
    width: calc(100% - 2.25rem);
    margin: 0 auto;
    height: 100px;
 
}
.goods .goodInfoBottom .priceBl .oldPrice, .goods .goodInfoBottom .priceBl .newPrice *{
     font-size: var(--fnt0p875rem);
     color: var(--grey1);
}
.goods .goodInfoBottom .priceBl strike{
     font-size: var(--fnt1p25rem);
     line-height: 1.25rem;
}
.goods .goodInfoBottom .priceBl .newPrice span{
     color: var(--mainContCol);
}
.goods .goodInfoBottom .priceBl .newPrice span:first-child{
     font-size: var(--fnt2p25rem);
     line-height: 2.25rem;
}
.goods .goodInfoBottom .priceBl .newPrice span:last-child{
     color: var(--grey1);
}
.goods .goodInfoBottom .priceBl .buyStat{
    padding-top: 0.875rem;
}
.goods .goodInfoBottom .priceBl .buyStat > *{
    font-weight: bold;
    display: block;
    cursor: pointer;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    width: 8.75rem;
    height: 1.875rem;
    line-height: 0.8125rem;
    text-align: center;
    padding: 0.5625rem 0;
    background-color: var(--mainContCol);  
    -webkit-transition: all 0.1s;transition: all 0.1s;
}
.goods .goodInfoBottom .priceBl .buyStat > *:hover{
    background-color: var(--hoverGreen);  
    color: var(--white);
}
.goods .goodInfoBottom .priceBl .buyStat .inCart{
    background-color: var(--white);
    color: var(--black);
}
.goods .goodInfoBottom .priceBl .buyStat .inCart:hover{
    background-color: var(--mainContCol);
    color: var(--white);
}
.goods .goodInfoBottom .priceBl .buyStat .notify{
    background-color: var(--white);
    color: var(--black);
    padding: 0.16rem 0;
    font-size: var(--fnt0p875rem);
}
.goods .goodInfoBottom .priceBl .buyStat .notify:hover{
    background-color: var(--mainContCol);
    color: var(--white);
}
.goods .goodInfoBottom .deliveryPickup{
    color: var(--grey1);
}
.goods .goodInfoBottom .deliveryPickup span{
    color: var(--grey1);
    font-size: var(--fnt0p875rem);
}
.goods .goodInfoBottom .deliveryPickup span::before{
    display: block;
    content: '';
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--mainContCol);
    margin-top: 0.1875rem;
    margin-right: 0.25rem;
}
.goods .goodInfoBottom .deliveryPickup span.notAvailable::before{
    background-color: var(--red);
}
.goods .goodInfoBottom .deliveryPickup .goodIcons::before{
    cursor: pointer;
    -webkit-transition: all 0.1s;transition: all 0.1s;
    cursor: pointer;
    display: block;
    content: '';
    width: 1.75rem;
    height: 1.75rem;
    border: 1px solid var(--grey2);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.goods .goodInfoBottom .deliveryPickup .goodIcons:hover::before{
    border-color: var(--mainContCol);
}
.goods .goodInfoBottom .deliveryPickup .wish::before {
    background-size: 1rem 1rem;
    background-image: url('../img/icons/svg/wish.svg');
}
.goods .goodInfoBottom .deliveryPickup .wish.active::before,
.goods .goodInfoBottom .deliveryPickup .wish:hover::before {
    background-image: url('../img/icons/svg/wish-hover.svg');
}
.goods .goodInfoBottom .deliveryPickup .comparison::before {
    background-size: 1rem 1rem;
    background-image: url('../img/icons/svg/comparison.svg');
}
.goods .goodInfoBottom .deliveryPickup .comparison.active::before,
.goods .goodInfoBottom .deliveryPickup .comparison:hover::before {
    background-image: url('../img/icons/svg/comparison-hover.svg');
}
.goods .goodInfoHidden{
    width: calc(100% - 2.25rem);
    margin: 1.25rem auto 1.25rem auto;
    padding: 1.5625rem 0;
    border-bottom: 1px solid var(--grey2);
    border-top: 1px solid var(--grey2);
}
.goods .goodInfoHidden ul{
    padding: 0;
    margin: 0;
}
.goods .goodInfoHidden li{
    display: -webkit-box;display: -ms-flexbox;display: flex;
    -webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0.5rem;
}
.goods .goodInfoHidden li:last-child{
    margin-bottom: 0;
}
.goods .goodInfoHidden li span:first-child{
    color: var(--grey1); 
}
.goods .goodInfoHidden li span:last-child{
    color: var(--white); 
}
.goods .goodRate{ 
    width: calc(100% - 2.25rem);
    margin: 1.25rem auto; 
    padding-bottom: 1.5625rem;
    border-bottom: 1px solid var(--grey2);
}
.goods .goodRate a{ 
    text-decoration: none;
    text-align: center;
    color: var(--grey1);
    font-size: var(--fnt0p875rem);
    transition: all 0.1s;
}
.goods .goodRate a:hover{ 
    color: var(--white);
}

.goods .banerInGoods{
    text-decoration: none;
    transition: all 0.1s;
    width: calc(100% - 1.25rem);
    margin: 1.25rem 0 0 1.25rem;
    opacity: 0.9;
}
.goods .banerInGoods:hover{
    opacity: 1;
}
.goods .banerInGoods img{
    width: 100%;
    display: block
}
@media only screen and (min-width: 0px){
    .goods .banerInGoods{
        display: none;
    }
}
@media only screen and (min-width: 1590px){
    .goods .banerInGoods{
        display: block;
    }
}
/*.goodWrap style end*/

/*.pagNav style start*/
.pagNav .btnBrdr {
    padding: 0.9375rem 2rem;
    margin-top: 2.5rem;
}
.pagNav .pagBlock{
    display: block;
    margin-top: 2.5rem;
    margin-bottom: 5.625rem;
}
.pagNav .pagBlock ul{
    border: 1px solid var(--grey1);
    border-right: none;
}
.pagNav .pagBlock li{
    list-style: none;
}
.pagNav .pagBlock li a{
    text-align: center;
    height: 100%;
    width: 2.375rem;
    padding: 0.65rem 0rem; 
    text-decoration: none;
    color: var(--white);
    border-right: 1px solid var(--grey1);
    transition: all 0.1s;
    display: flex;
    -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;
}
.pagNav .pagBlock li a:hover{
    color: var(--mainContCol);
    background-color: var(--hoverWhite);
}

.pagNav .pagBlock li.arrow a::before{
        content: '';
        display: block;
        border-style: solid;
}
.pagNav .pagBlock li.arrow:first-child a::before{
        border-width: 0.375rem 0.375rem 0.375rem 0px;
        border-color: var(--transp) var(--mainZ51Col);
}
.pagNav .pagBlock li.arrow:last-child a::before{
        border-width: 0.375rem 0px 0.375rem 0.375rem;
        border-color: var(--transp) var(--mainZ51Col);
}
@media only screen and (min-width: 0px){
    .pagNav .pagBlock li a{
        width: 2rem;
        padding: 0.5rem 0rem; 
    }
}
@media only screen and (min-width: 576px){
    .pagNav .pagBlock li a{
        width: 2.375rem;
        padding: 0.65rem 0rem; 
    }
}
/*.pagNav style start*/


.footerBg{
    background-color: var(--grey3);
}
.footerBg .footerFirstLine{
    padding-top: 2.5rem;
}
.footerFirstLine > div{
    padding-bottom: 2.5rem;
}
.footerFirstLine > div:last-child{
    margin-right: 0;
}
.footerFirstLine .footerTitles{
    display: block;
    font-size: var(--fnt1p125rem);
    color: var(--mainZ51Col);
}
.footerFirstLine nav a{
    text-decoration: none;
    font-size: var(--fnt0p875rem);
    color: var(--white);
    -webkit-transition: all 0.1s;transition: all 0.1s;
} 
.footerFirstLine nav a:hover{
    color: var(--mainZ51Col);
}
.footerFirstLine .footerDesc{
    display: block;
    font-size: var(--fnt0p75rem);
    color: var(--grey1);
}
.footerFirstLine .mainAdress{
    display: block;
    font-size: var(--fnt1p125rem);
    color: var(--white);
    line-height: 1.375rem;
}
.footerFirstLine .mainAdress span{
    color: var(--mainZ51Col);
}
.footerFirstLine .socialNetwork a{
    display: -webkit-box;display: -ms-flexbox;display: flex;
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;
    -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
    background-color: var(--grey2);
    color: var(--grey2);
    height: 2.1875rem;
    width: 2.1875rem;
}
.footerFirstLine .socialNetwork li{
    list-style-type: none;
    margin-right: 1rem;
    margin-top: 1rem;
}
.footerFirstLine .socialNetwork li:last-child{
    margin-right: 0;
}
.footerFirstLine .socialNetwork a:hover{
    background-color: var(--mainZ51Col);
}
.footerFirstLine .socialNetwork a::before{
    height: 1.25rem;
    width: 1.25rem;
    background-size: 1.25rem 1.25rem;
    color: var(--grey2);
    display: block;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footerFirstLine .socialNetwork .facebook a::before{
    background-image: url('../img/icons/svg/facebook-logo.svg');
}
.footerFirstLine .socialNetwork .instagram a::before{
    background-image: url('../img/icons/svg/instagram-logo.svg');
}
.footerFirstLine .socialNetwork .twitter a::before{
    background-image: url('../img/icons/svg/twitter-logo.svg');
}
.footerFirstLine .socialNetwork .youtube a::before{
    background-image: url('../img/icons/svg/youtube-logo.svg');
}


.footerFirstLine .footerUpBtn::after{
    content: '';
    display: block;
    border-style: solid;
    border-width: 0 0.375rem 0.375rem 0.375rem;
    border-color: var(--mainZ51Col) var(--transp);
    margin-left: 0.5rem;
    transition: all 0.1s;
}
.footerFirstLine .footerUpBtn:hover::after{
    border-color: var(--white) var(--transp);
}
@media only screen and (min-width: 0px){
    .footerFirstLine .footerUpBtn{
        padding: 0.8rem 2rem;
    }
    footer .logoImg img{
        width: 150px;
    }
}
@media only screen and (min-width: 576px){
    .footerFirstLine .footerUpBtn{
        padding: 1rem 3.125rem;
    }
    footer .logoImg img{
        width: 170px;
    }
}


.footerSecondLine p{
    font-size: var(--fnt0p8125rem);
    color: var(--grey4);
}
.footerSecondLine p span{
    color: var(--mainZ51Col);
}











