
  
        <div class="px-1 block404 separator d-flex">
            <div class="separator mb-3 d-flex flex-wrap align-items-center justify-content-center contentWrapper mainWidth mainZ51ColBorder">
              <div class="flex-grow-1 m-4 p-4 redBorder grey3Bg">
                  <h4 class="fnt2p25rem redFnt text-center">Ошибка 404</h4>
                  <p class="text-center">Вы попали на несуществующую страницу. Попробуйте обновить или перезайти на нее. </p>
              </div>
              <img src="./img/img/photo404.jpg" alt="Ошибка 404" title="Страница 404">
            </div>
        </div>
       
       
       
       
       
        <div class="px-1 d-flex">
            <div class="mainWidth d-flex flex-wrap">
                   
                    <a href="#inSuccess" class="actionResults modalbox m-4 d-block" rel="nofollow">Успех</a>
                   
                    <a href="#inError" class="actionResults modalbox m-4 d-block" rel="nofollow">Ошибка</a>
                    
            </div>
        </div>
  
        <div class="modals resultsModals p-4" id="inSuccess">
                <span class="mx-4 msg">Успех!</span>
        </div>
  
        <div class="modals resultsModals p-4" id="inError">
                <span class="mx-4 msg">Ошибка!</span>
        </div>