<style>

/*.productComparisonBlock style start*/
.productComparisonBlockV2 .mainWidth{
    overflow-x: auto;
}
.productComparisonBlockV2 .productComparison{
    margin: 0 auto;
    width: -webkit-max-content;width: -moz-max-content;width: max-content;
    display: block;
}
.productComparisonBlockV2 .productComparison .trow:first-child{
/*    position: -webkit-sticky; position: sticky;*/
    top: 48px;
}
.productComparisonBlockV2 a, .productComparisonBlockV2 span{
    display: block;
}
.productComparisonBlockV2 .productComparison .trow{
    display: -webkit-box;display: -ms-flexbox;display: flex;
    -webkit-box-align: stretch;-ms-flex-align: stretch;align-items: stretch;
}
.productComparisonBlockV2 .productComparison .trow:nth-child(2) div:first-child{
    border-top: 0.0625rem solid rgb(var(--grey2));
}
.productComparisonBlockV2 .productComparison .trow:nth-child(2) a,.productComparisonBlockV2 .productComparison .trow:nth-child(2) span,.productComparisonBlockV2 .productComparison .trow:nth-child(3) a,.productComparisonBlockV2 .productComparison .trow:nth-child(3) span,.productComparisonBlockV2 .productComparison .trow:nth-child(4) a,.productComparisonBlockV2 .productComparison .trow:nth-child(4) span,.productComparisonBlockV2 .productComparison .trow:nth-child(5) a,.productComparisonBlockV2 .productComparison .trow:nth-child(5) span{
    text-align: center;
}
.productComparisonBlockV2 .productComparison .trow:first-child div{
    display: -webkit-box;display: -ms-flexbox;display: flex;
    -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
}
.productComparisonBlockV2 .productComparison .trow div:first-child:not(.noBrdr){
    border-right: 0rem solid rgb(var(--grey2));
    border-left: 0.0625rem solid rgb(var(--grey2));
}
.productComparisonBlockV2 .productComparison .trow div:nth-child(2):not(.noBrdr){
    border-left: 0.0625rem solid rgb(var(--grey2));
}
.productComparisonBlockV2 .productComparison .trow:first-child div:not(.noBrdr){
    border-top: 0.0625rem solid rgb(var(--grey2));
}
.productComparisonBlockV2 .productComparison .trow div:not(.noBrdr){
    border-bottom: 0.0625rem solid rgb(var(--grey2));
    border-right: 0.0625rem solid rgb(var(--grey2));
}
.productComparisonBlockV2 .productComparison .trow>div{
    font-size: var(--fnt0p8125rem);
    width: 17.5rem;
    padding: 0.3125rem 0.625rem;
}
.productComparisonBlockV2 .productComparison .trow div:first-child{
    width: 13.75rem;
    background-color: rgb(var(--black));
}
.productComparisonBlockV2 .productComparison .trow div:first-child span{
    color: rgb(var(--white));
}
.productComparisonBlockV2 .productComparison .trow:first-child div:not(.noBrdr){
    background-color: rgb(var(--black));
}
.productComparisonBlockV2 .productComparison .xButton{
    display: -webkit-box;display: -ms-flexbox;display: flex;
    -webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
}
/*.productComparisonBlock style end*/





</style>







    <div class="px-1 breadcrumbBlock">
        <div class="d-flex flex-wrap p-0 contentWrapper mainWidth">

            <ol class="breadcrumbs d-flex flex-wrap col-12 px-0 m-0 pt-2 pt-lg-4 justify-content-center justify-content-lg-start overflowHidden">
                <li class="breadcrumbs-i d-flex align-items-center" itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
                    <a class="breadcrumbs-link" href="https://www.3ona51.com/" itemprop="url">
                        <span class="breadcrumbs-title text-center" itemprop="title">Главная</span>
                    </a>
                </li>
                <li class="breadcrumbs-i d-flex align-items-center" itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
                    <a class="breadcrumbs-link" href="https://www.3ona51.com/" itemprop="url">
                        <span class="breadcrumbs-title text-center" itemprop="title">Lorem ipsum dolor sit amet</span>
                    </a>
                </li>
                <li class="breadcrumbs-i active d-flex align-items-center" itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
                    <span class="breadcrumbs-title text-center" itemprop="title">Lorem ipsum dolor sit amet</span>
                </li>
            </ol>
            
        </div>
    </div>
    
    
    <div class="px-1 nameBlock">
        <div class="d-flex flex-wrap p-0 contentWrapper mainWidth">                

            <div class="col-12 d-flex flex-wrap p-0 pt-lg-3 pb-lg-2 m-0 align-items-center justify-content-center overflowHidden">
                <h1 class="pr-4 catName">Игровые мыши</h1>
                <div class="line ml-2 flex-grow-1 d-none d-sm-block"></div>
            </div>


        </div>
    </div>


   
     <div class="px-1 productComparisonBlockV2">
        <div class="mainWidth">
            <div class="productComparison mb-4">
                <div class="trow">
                    <div class="noBrdr"></div>
                    <div>
                            <a href="#">
                                <div class="action_ovr noBrdr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                            </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="action_ovr noBrdr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="action_ovr noBrdr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="action_ovr noBrdr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="action_ovr noBrdr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="action_ovr noBrdr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="action_ovr noBrdr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <div class="action_ovr noBrdr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Наименование</span></div>
                    <div><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></div>
                    <div><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></div>
                    <div><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></div>
                    <div><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></div>
                    <div><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></div>
                    <div><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></div>
                    <div><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></div>
                    <div><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></div>
                </div>
                <div class="trow">
                    <div><span>Цена</span></div>
                    <div>
                        <span>
                            <span class="fnt1p5rem mainZ51ColFnt">2399.00</span>
                            грн. </span>
                    </div>
                    <div>
                        <span>
                            <span class="fnt1p5rem mainZ51ColFnt">3999.00</span>
                            грн. </span>
                    </div>
                    <div>
                        <span>
                            <span class="fnt1p5rem mainZ51ColFnt">3999.00</span>
                            грн. </span>
                    </div>
                    <div>
                        <span>
                            <span class="fnt1p5rem mainZ51ColFnt">3999.00</span>
                            грн. </span>
                    </div>
                    <div>
                        <span>
                            <span class="fnt1p5rem mainZ51ColFnt">3999.00</span>
                            грн. </span>
                    </div>
                    <div>
                        <span>
                            <span class="fnt1p5rem mainZ51ColFnt">3999.00</span>
                            грн. </span>
                    </div>
                    <div>
                        <span>
                            <span class="fnt1p5rem mainZ51ColFnt">3999.00</span>
                            грн. </span>
                    </div>
                    <div>
                        <span>
                            <span class="fnt1p5rem mainZ51ColFnt">3999.00</span>
                            грн. </span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>На складе</span></div>
                    <div>
                        <span class="mainZ51ColFnt">Много</span>
                    </div>
                    <div>
                        <span class="mainZ51ColFnt">Много</span>
                    </div>
                    <div>
                        <span class="mainZ51ColFnt">Много</span>
                    </div>
                    <div>
                        <span class="mainZ51ColFnt">Много</span>
                    </div>
                    <div>
                        <span class="mainZ51ColFnt">Много</span>
                    </div>
                    <div>
                        <span class="mainZ51ColFnt">Много</span>
                    </div>
                    <div>
                        <span class="mainZ51ColFnt">Много</span>
                    </div>
                    <div>
                        <span class="mainZ51ColFnt">Много</span>
                    </div>
                </div>
                <div class="trow">
                    <div></div>
                    <div>
                        <span class="hoverLinkW">Купить</span>
                    </div>
                    <div>
                        <span class="hoverLinkW">Купить</span>
                    </div>
                    <div>
                        <span class="hoverLinkW">Купить</span>
                    </div>
                    <div>
                        <span class="hoverLinkW">Купить</span>
                    </div>
                    <div>
                        <span class="hoverLinkW">Купить</span>
                    </div>
                    <div>
                        <span class="hoverLinkW">Купить</span>
                    </div>
                    <div>
                        <span class="hoverLinkW">Купить</span>
                    </div>
                    <div>
                        <span class="hoverLinkW">Купить</span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Тип клавиш</span></div>
                    <div>
                        <span>Механический</span>
                    </div>
                    <div>
                        <span>Механический</span>
                    </div>
                    <div>
                        <span>Механический</span>
                    </div>
                    <div>
                        <span>Механический</span>
                    </div>
                    <div>
                        <span>Механический</span>
                    </div>
                    <div>
                        <span>Механический</span>
                    </div>
                    <div>
                        <span>Механический</span>
                    </div>
                    <div>
                        <span>Механический</span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Подсветка</span></div>
                    <div>
                        <span>Моноцветная</span>
                    </div>
                    <div>
                        <span>Мультицветная</span>
                    </div>
                    <div>
                        <span>Мультицветная</span>
                    </div>
                    <div>
                        <span>Мультицветная</span>
                    </div>
                    <div>
                        <span>Мультицветная</span>
                    </div>
                    <div>
                        <span>Мультицветная</span>
                    </div>
                    <div>
                        <span>Мультицветная</span>
                    </div>
                    <div>
                        <span>Мультицветная</span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Тип переключателей</span></div>
                    <div>
                        <span>Cherry MX Blue</span>
                    </div>
                    <div>
                        <span>Razer Green Mechanical</span>
                    </div>
                    <div>
                        <span>Razer Green Mechanical</span>
                    </div>
                    <div>
                        <span>Razer Green Mechanical</span>
                    </div>
                    <div>
                        <span>Razer Green Mechanical</span>
                    </div>
                    <div>
                        <span>Razer Green Mechanical</span>
                    </div>
                    <div>
                        <span>Razer Green Mechanical</span>
                    </div>
                    <div>
                        <span>Razer Green Mechanical</span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Код товара</span></div>
                    <div>
                        <span>HX-KB1BL1-RU/A5</span>
                    </div>
                    <div>
                        <span>RZ03-02861100-R3R1</span>
                    </div>
                    <div>
                        <span>RZ03-02861100-R3R1</span>
                    </div>
                    <div>
                        <span>RZ03-02861100-R3R1</span>
                    </div>
                    <div>
                        <span>RZ03-02861100-R3R1</span>
                    </div>
                    <div>
                        <span>RZ03-02861100-R3R1</span>
                    </div>
                    <div>
                        <span>RZ03-02861100-R3R1</span>
                    </div>
                    <div>
                        <span>RZ03-02861100-R3R1</span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Цвет</span></div>
                    <div>
                        <span>Черный</span>
                    </div>
                    <div>
                        <span>Черный</span>
                    </div>
                    <div>
                        <span>Черный</span>
                    </div>
                    <div>
                        <span>Черный</span>
                    </div>
                    <div>
                        <span>Черный</span>
                    </div>
                    <div>
                        <span>Черный</span>
                    </div>
                    <div>
                        <span>Черный</span>
                    </div>
                    <div>
                        <span>Черный</span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Компоновка Корпуса</span></div>
                    <div>
                        <span>Скелетон</span>
                    </div>
                    <div>
                        <span>Классическая</span>
                    </div>
                    <div>
                        <span>Классическая</span>
                    </div>
                    <div>
                        <span>Классическая</span>
                    </div>
                    <div>
                        <span>Классическая</span>
                    </div>
                    <div>
                        <span>Классическая</span>
                    </div>
                    <div>
                        <span>Классическая</span>
                    </div>
                    <div>
                        <span>Классическая</span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Форм-фактор клавиатуры</span></div>
                    <div>
                        <span>Полноразмерная</span>
                    </div>
                    <div>
                        <span>Полноразмерная</span>
                    </div>
                    <div>
                        <span>Полноразмерная</span>
                    </div>
                    <div>
                        <span>Полноразмерная</span>
                    </div>
                    <div>
                        <span>Полноразмерная</span>
                    </div>
                    <div>
                        <span>Полноразмерная</span>
                    </div>
                    <div>
                        <span>Полноразмерная</span>
                    </div>
                    <div>
                        <span>Полноразмерная</span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Подключение</span></div>
                    <div>
                        <span>Проводное</span>
                    </div>
                    <div>
                        <span>Проводное</span>
                    </div>
                    <div>
                        <span>Проводное</span>
                    </div>
                    <div>
                        <span>Проводное</span>
                    </div>
                    <div>
                        <span>Проводное</span>
                    </div>
                    <div>
                        <span>Проводное</span>
                    </div>
                    <div>
                        <span>Проводное</span>
                    </div>
                    <div>
                        <span>Проводное</span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Дополнительно</span></div>
                    <div>
                        <span>Отсоединяемый оплетенный кабель длиной 1,8 м<br>
                            Сменные клавиши W, A, S, D, 1, 2, 3, 4<br>
                            USB порт для зарядки мобильных гаджетов<br>
                            Дорожный чехол</span>
                    </div>
                    <div>
                        <span>Полностью настраиваемые клавиши<br>
                            Гибридная встроенная память и облачное хранилище<br>
                            NKRO неограниченное количество одновременных нажатий клавиш<br>
                            Различные варианты укладки кабелей</span>
                    </div>
                    <div>
                        <span>Полностью настраиваемые клавиши<br>
                            Гибридная встроенная память и облачное хранилище<br>
                            NKRO неограниченное количество одновременных нажатий клавиш<br>
                            Различные варианты укладки кабелей</span>
                    </div>
                    <div>
                        <span>Полностью настраиваемые клавиши<br>
                            Гибридная встроенная память и облачное хранилище<br>
                            NKRO неограниченное количество одновременных нажатий клавиш<br>
                            Различные варианты укладки кабелей</span>
                    </div>
                    <div>
                        <span>Полностью настраиваемые клавиши<br>
                            Гибридная встроенная память и облачное хранилище<br>
                            NKRO неограниченное количество одновременных нажатий клавиш<br>
                            Различные варианты укладки кабелей</span>
                    </div>
                    <div>
                        <span>Полностью настраиваемые клавиши<br>
                            Гибридная встроенная память и облачное хранилище<br>
                            NKRO неограниченное количество одновременных нажатий клавиш<br>
                            Различные варианты укладки кабелей</span>
                    </div>
                    <div>
                        <span>Полностью настраиваемые клавиши<br>
                            Гибридная встроенная память и облачное хранилище<br>
                            NKRO неограниченное количество одновременных нажатий клавиш<br>
                            Различные варианты укладки кабелей</span>
                    </div>
                    <div>
                        <span>Полностью настраиваемые клавиши<br>
                            Гибридная встроенная память и облачное хранилище<br>
                            NKRO неограниченное количество одновременных нажатий клавиш<br>
                            Различные варианты укладки кабелей</span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Дополнительные особенности клавиатуры</span></div>
                    <div>
                        <span>Наличие внешних портов usb</span>
                    </div>
                    <div>
                    </div>
                    <div>
                        <span>Наличие внешних портов usb</span>
                    </div>
                    <div>
                        <span>Наличие внешних портов usb</span>
                    </div>
                    <div>
                        <span>Наличие внешних портов usb</span>
                    </div>
                    <div>
                        <span>Наличие внешних портов usb</span>
                    </div>
                    <div>
                        <span>Наличие внешних портов usb</span>
                    </div>
                    <div>
                        <span>Наличие внешних портов usb</span>
                    </div>
                </div>
                <div class="trow">
                    <div><span>Описание товара</span></div>
                    <div><span>Сверхнадежная игровая клавиатура pro-класса в стильном минималистичном дизайне, HyperX Alloy FPS была создана специально для поклонников шутеров (FPS игр), таких как CS:GO, COD, Overwatch и др.</span></div>
                    <div><span>С момента своего создания, название клавиатуры Razer BlackWidow стало синонимом не только точности, но и тактильного и щелкающего ощущения её переключателей, которые ценят геймеры.</span></div>
                    <div><span>С момента своего создания, название клавиатуры Razer BlackWidow стало синонимом не только точности, но и тактильного и щелкающего ощущения её переключателей, которые ценят геймеры.</span></div>
                    <div><span>С момента своего создания, название клавиатуры Razer BlackWidow стало синонимом не только точности, но и тактильного и щелкающего ощущения её переключателей, которые ценят геймеры.</span></div>
                    <div><span>С момента своего создания, название клавиатуры Razer BlackWidow стало синонимом не только точности, но и тактильного и щелкающего ощущения её переключателей, которые ценят геймеры.</span></div>
                    <div><span>С момента своего создания, название клавиатуры Razer BlackWidow стало синонимом не только точности, но и тактильного и щелкающего ощущения её переключателей, которые ценят геймеры.</span></div>
                    <div><span>С момента своего создания, название клавиатуры Razer BlackWidow стало синонимом не только точности, но и тактильного и щелкающего ощущения её переключателей, которые ценят геймеры.</span></div>
                    <div><span>С момента своего создания, название клавиатуры Razer BlackWidow стало синонимом не только точности, но и тактильного и щелкающего ощущения её переключателей, которые ценят геймеры.</span></div>
                </div>
                <div class="trow">
                    <div class="noBrdr"></div>
                    <div class="xButton red"></div>
                    <div class="xButton red"></div>
                    <div class="xButton red"></div>
                    <div class="xButton red"></div>
                    <div class="xButton red"></div>
                    <div class="xButton red"></div>
                    <div class="xButton red"></div>
                    <div class="xButton red"></div>
                </div>
            </div>
          </div>
    </div>
   
  