    <div class="px-1 breadcrumbBlock">
        <div class="d-flex flex-wrap p-0 contentWrapper mainWidth">

            <ol class="breadcrumbs d-flex flex-wrap col-12 px-0 m-0 pt-2 pt-lg-4 justify-content-center justify-content-lg-start overflowHidden">
                <li class="breadcrumbs-i d-flex align-items-center" itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
                    <a class="breadcrumbs-link" href="https://www.3ona51.com/" itemprop="url">
                        <span class="breadcrumbs-title text-center" itemprop="title">Главная</span>
                    </a>
                </li>
                <li class="breadcrumbs-i d-flex align-items-center" itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
                    <a class="breadcrumbs-link" href="https://www.3ona51.com/" itemprop="url">
                        <span class="breadcrumbs-title text-center" itemprop="title">Lorem ipsum dolor sit amet</span>
                    </a>
                </li>
                <li class="breadcrumbs-i active d-flex align-items-center" itemscope itemtype="https://data-vocabulary.org/Breadcrumb">
                    <span class="breadcrumbs-title text-center" itemprop="title">Lorem ipsum dolor sit amet</span>
                </li>
            </ol>
            
        </div>
    </div>
    
    
    <div class="px-1 nameBlock">
        <div class="d-flex flex-wrap p-0 contentWrapper mainWidth">                

            <div class="col-12 d-flex flex-wrap p-0 pt-lg-3 pb-lg-2 m-0 align-items-center justify-content-center overflowHidden">
                <h1 class="pr-4 catName">Игровые мыши</h1>
                <div class="line ml-2 flex-grow-1 d-none d-sm-block"></div>
            </div>


        </div>
    </div>


   
     <div class="px-1 productComparisonBlock">
        <div class="mainWidth indexSlider">

            <table class="productComparison mb-4" align="center">
                <tbody>
                    <tr>
                        <td class="noBrdr"></td>
                        <td align="center">
                                <a href="#">
                                    <div class="action_ovr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                                </a>
                        </td>
                        <td align="center">
                            <a href="#">
                                <div class="action_ovr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                            </a>
                        </td>
                        <td align="center">
                            <a href="#">
                                <div class="action_ovr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                            </a>
                        </td>
                        <td align="center">
                            <a href="#">
                                <div class="action_ovr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                            </a>
                        </td>
                        <td align="center">
                            <a href="#">
                                <div class="action_ovr"></div><img src="https://www.3ona51.com/images/products/hyperx/keyboard-alloy/200.jpg" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Наименование</td>
                        <td align="center"><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></td>
                        <td align="center"><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></td>
                        <td align="center"><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></td>
                        <td align="center"><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></td>
                        <td align="center"><a href="#" class="name hoverLinkW">Razer BlackWidow (RZ03-02861100-R3R1)</a></td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td align="center">
                            <span>
                                <span class="fnt1p5rem mainZ51ColFnt">2399.00</span>
                                грн. </span>
                        </td>
                        <td align="center">
                            <span>
                                <span class="fnt1p5rem mainZ51ColFnt">3999.00</span>
                                грн. </span>
                        </td>
                        <td align="center">
                            <span>
                                <span class="fnt1p5rem mainZ51ColFnt">3999.00</span>
                                грн. </span>
                        </td>
                        <td align="center">
                            <span>
                                <span class="fnt1p5rem mainZ51ColFnt">3999.00</span>
                                грн. </span>
                        </td>
                        <td align="center">
                            <span>
                                <span class="fnt1p5rem mainZ51ColFnt">3999.00</span>
                                грн. </span>
                        </td>
                    </tr>
                    <tr>
                        <td>На складе</td>
                        <td align="center">
                            <span class="mainZ51ColFnt">Много</span>
                        </td>
                        <td align="center">
                            <span class="mainZ51ColFnt">Много</span>
                        </td>
                        <td align="center">
                            <span class="mainZ51ColFnt">Много</span>
                        </td>
                        <td align="center">
                            <span class="mainZ51ColFnt">Много</span>
                        </td>
                        <td align="center">
                            <span class="mainZ51ColFnt">Много</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="noBrdr"></td>
                        <td align="center">
                            <span class="hoverLinkW">Купить</span>
                        </td>
                        <td align="center">
                            <span class="hoverLinkW">Купить</span>
                        </td>
                        <td align="center">
                            <span class="hoverLinkW">Купить</span>
                        </td>
                        <td align="center">
                            <span class="hoverLinkW">Купить</span>
                        </td>
                        <td align="center">
                            <span class="hoverLinkW">Купить</span>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="6" class="noBrdr whiteFnt" align="center">Игровая клавиатура</td>
                    </tr>
                    <tr>
                        <td>Тип клавиш</td>
                        <td>
                            Механический
                        </td>
                        <td>
                            Механический
                        </td>
                        <td>
                            Механический
                        </td>
                        <td>
                            Механический
                        </td>
                        <td>
                            Механический
                        </td>
                    </tr>
                    <tr>
                        <td>Подсветка</td>
                        <td>
                            Моноцветная
                        </td>
                        <td>
                            Мультицветная
                        </td>
                        <td>
                            Мультицветная
                        </td>
                        <td>
                            Мультицветная
                        </td>
                        <td>
                            Мультицветная
                        </td>
                    </tr>
                    <tr>
                        <td>Тип переключателей</td>
                        <td>
                            Cherry MX Blue
                        </td>
                        <td>
                            Razer Green Mechanical
                        </td>
                        <td>
                            Razer Green Mechanical
                        </td>
                        <td>
                            Razer Green Mechanical
                        </td>
                        <td>
                            Razer Green Mechanical
                        </td>
                    </tr>
                    <tr>
                        <td>Код товара</td>
                        <td>
                            HX-KB1BL1-RU/A5
                        </td>
                        <td>
                            RZ03-02861100-R3R1
                        </td>
                        <td>
                            RZ03-02861100-R3R1
                        </td>
                        <td>
                            RZ03-02861100-R3R1
                        </td>
                        <td>
                            RZ03-02861100-R3R1
                        </td>
                    </tr>
                    <tr>
                        <td>Цвет</td>
                        <td>
                            Черный
                        </td>
                        <td>
                            Черный
                        </td>
                        <td>
                            Черный
                        </td>
                        <td>
                            Черный
                        </td>
                        <td>
                            Черный
                        </td>
                    </tr>
                    <tr>
                        <td>Компоновка Корпуса</td>
                        <td>
                            Скелетон
                        </td>
                        <td>
                            Классическая
                        </td>
                        <td>
                            Классическая
                        </td>
                        <td>
                            Классическая
                        </td>
                        <td>
                            Классическая
                        </td>
                    </tr>
                    <tr>
                        <td>Форм-фактор клавиатуры</td>
                        <td>
                            Полноразмерная
                        </td>
                        <td>
                            Полноразмерная
                        </td>
                        <td>
                            Полноразмерная
                        </td>
                        <td>
                            Полноразмерная
                        </td>
                        <td>
                            Полноразмерная
                        </td>
                    </tr>
                    <tr>
                        <td>Подключение</td>
                        <td>
                            Проводное
                        </td>
                        <td>
                            Проводное
                        </td>
                        <td>
                            Проводное
                        </td>
                        <td>
                            Проводное
                        </td>
                        <td>
                            Проводное
                        </td>
                    </tr>
                    <tr>
                        <td>Дополнительно</td>
                        <td>
                            Отсоединяемый оплетенный кабель длиной 1,8 м<br>
                            Сменные клавиши W, A, S, D, 1, 2, 3, 4<br>
                            USB порт для зарядки мобильных гаджетов<br>
                            Дорожный чехол
                        </td>
                        <td>
                            Полностью настраиваемые клавиши<br>
                            Гибридная встроенная память и облачное хранилище<br>
                            NKRO неограниченное количество одновременных нажатий клавиш<br>
                            Различные варианты укладки кабелей
                        </td>
                        <td>
                            Полностью настраиваемые клавиши<br>
                            Гибридная встроенная память и облачное хранилище<br>
                            NKRO неограниченное количество одновременных нажатий клавиш<br>
                            Различные варианты укладки кабелей
                        </td>
                        <td>
                            Полностью настраиваемые клавиши<br>
                            Гибридная встроенная память и облачное хранилище<br>
                            NKRO неограниченное количество одновременных нажатий клавиш<br>
                            Различные варианты укладки кабелей
                        </td>
                        <td>
                            Полностью настраиваемые клавиши<br>
                            Гибридная встроенная память и облачное хранилище<br>
                            NKRO неограниченное количество одновременных нажатий клавиш<br>
                            Различные варианты укладки кабелей
                        </td>
                    </tr>
                    <tr>
                        <td>Дополнительные особенности клавиатуры</td>
                        <td>
                            Наличие внешних портов usb
                        </td>
                        <td>
                        </td>
                        <td>
                            Наличие внешних портов usb
                        </td>
                        <td>
                            Наличие внешних портов usb
                        </td>
                        <td>
                            Наличие внешних портов usb
                        </td>
                    </tr>
                    <tr>
                        <td>Описание товара</td>
                        <td>Сверхнадежная игровая клавиатура pro-класса в стильном минималистичном дизайне, HyperX Alloy FPS была создана специально для поклонников шутеров (FPS игр), таких как CS:GO, COD, Overwatch и др.</td>
                        <td>С момента своего создания, название клавиатуры Razer BlackWidow стало синонимом не только точности, но и тактильного и щелкающего ощущения её переключателей, которые ценят геймеры.</td>
                        <td>С момента своего создания, название клавиатуры Razer BlackWidow стало синонимом не только точности, но и тактильного и щелкающего ощущения её переключателей, которые ценят геймеры.</td>
                        <td>С момента своего создания, название клавиатуры Razer BlackWidow стало синонимом не только точности, но и тактильного и щелкающего ощущения её переключателей, которые ценят геймеры.</td>
                        <td>С момента своего создания, название клавиатуры Razer BlackWidow стало синонимом не только точности, но и тактильного и щелкающего ощущения её переключателей, которые ценят геймеры.</td>
                    </tr>
                    <tr>
                        <td class="noBrdr"></td>
                        <td class="xButton red" align="center"></td>
                        <td class="xButton red" align="center"></td>
                        <td class="xButton red" align="center"></td>
                        <td class="xButton red" align="center"></td>
                        <td class="xButton red" align="center"></td>
                    </tr>
                </tbody>
            </table>

          </div>
    </div>
   
  
  