        <div class="cookiesAccept grey2Bg p-3">
            <div class="d-flex flex-wrap flex-md-nowrap mainWidth align-items-center justify-content-center">
                <span class="mainZ51ColFnt fnt1p25rem text-center">Cookies</span>
                <span class="px-3 py-2">Мы используем файлы cookie для хранения информации о товарах добавленных в вашу корзину, списков сравнения и желаемых товаров, онлайн-чата, а также отображения предложений которые с нашей точки зрения могут вас заинтересовать. Если Вы согласны с этим - просто нажмите кнопку</span>
                <a id="cookiesAcceptButton" class="buttonFGr px-2 py-2 text-center" href="#" rel="nofollow">Я согласен</a>
            </div>
        </div>