    
    <div class="separator"></div>
    <footer>
        <div class="footerBg">
            <div class="px-1">
                <div class="footerFirstLine mainWidth d-flex flex-wrap justify-content-start justify-content-sm-around">

                    <div class="px-0 pr-xl-3 col-6 col-xl-2 order-1 order-xl-1 d-flex justify-content-center justify-content-xl-start">
                        <a class="logoImg navbar-brand m-0 col-auto px-1 pl-lg-0 pr-lg-3 py-0 order-2" href="#">
                            <img src="./img/icons/svg/z51_logo.svg" alt="ЗОНА51 logo" title="Логотип ЗОНА51">
                        </a>
                    </div>

                    <div class="px-0 pr-3 pr-sm-4 pr-xl-3 pl-sm-4 pl-xl-0 col-10 col-wsm-5 col-sm-4 col-lg-3 col-xl-2 order-3 order-xl-2 offset-1 offset-sm-0">
                        <span class="footerTitles">Сервис и помощь</span>
                        <nav>
                            <ul class="px-0 m-0">
                                <li class="mt-2">
                                    <a href="#">Кредит</a>
                                </li>
                                <li class="mt-2">
                                    <a href="#">Оплата и доставка</a>
                                </li>
                                <li class="mt-2">
                                    <a href="#">Обмен и возврат товара</a>
                                </li>
                                <li class="mt-2">
                                    <a href="#">Услуги</a>
                                </li>
                                <li class="mt-2">
                                    <a href="#">Обратная связь</a>
                                </li>
                                <li class="mt-2">
                                    <a href="#">Договор-оферта</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="px-0 pr-3 pr-sm-0 pr-xl-3 col-10 col-wsm-5 col-sm-3 col-lg-3 col-xl-2 order-4 order-xl-3 offset-1 offset-sm-0">
                        <span class="footerTitles">Информация</span>
                        <nav>
                            <ul class="px-0 m-0">
                                <li class="mt-2">
                                    <a href="#">О компании</a>
                                </li>
                                <li class="mt-2">
                                    <a href="#">Наши магазины</a>
                                </li>
                                <li class="mt-2">
                                    <a href="#">Карьера</a>
                                </li>
                                <li class="mt-2">
                                    <a href="#">Сотрудничество</a>
                                </li>
                                <li class="mt-2">
                                    <a href="#">Закупки/Тендеры</a>
                                </li>
                                <li class="mt-2">
                                    <a href="#">Все акции</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="px-0 pr-3 pr-sm-4 pr-xl-3 pl-sm-3 pl-xl-0 col-10 col-wsm-8 col-sm-5 col-lg-3 col-xl-2 order-5 order-xl-4 offset-1 offset-sm-0">
                        <div>
                            <span class="footerDesc">Адрес головного магазина</span>
                            <p class="mainAdress mt-2 mb-1">Киев, ул. Гетьмана, 13,<br><span>(044) 538-15-11</span></p>
                        </div>
                        <div class="paySystem">
                            <div class="visa"></div>
                            <div class="mastercard"></div>
                        </div>
                        <div class="pt-1">
                            <span class="footerDesc">Наши соцсети</span>
                            <ul class="m-0 p-0 d-flex flex-wrap socialNetwork">
                                <li class="facebook"><a href="#"></a></li>
                                <li class="instagram"><a href="#"></a></li>
                                <li class="twitter"><a href="#"></a></li>
                                <li class="youtube"><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="d-flex align-items-start px-0 pr-3 pr-sm-0 pr-xl-3 col-6 col-wsm-5 col-xl-2 order-2 order-xl-5 justify-content-center justify-content-xl-end">
                        <span class="btnBrdr footerUpBtn d-flex align-items-center btnNav" data-go="#bodyNav">На верх</span>
                    </div>


                </div> 
            </div>
        </div> 
            <div class="px-1 py-2 footerSecondLine d-flex justify-content-center">
                 <p class="m-0">Copyright ©2010-2019 ЗОНА51™. All rights reserved. Копирование информации без прямой активной гиперссылки на <span>www.3ona51.com</span> запрещено.</p>
            </div> 
    </footer>    
