
        <div class="px-1 indexCarouselBlock">
            <div class="d-flex flex-wrap p-0 mainWidth indexSlider">
                  <div class="swiper-container swiperIndex w-100">
                    <div class="swiper-wrapper">
                      <a href="#" class="swiper-slide d-block"><img class="d-block w-100" src="https://www.3ona51.com/images/actions/20190806-razer-mamba-plus-gigantus-elite.png" alt="" title=""></a>
                      <a href="#" class="swiper-slide d-block"><img class="d-block w-100" src="https://www.3ona51.com/images/actions/20190520-tesoro-olivant-lite-superprice.png" alt="" title=""></a>
                      <a href="#" class="swiper-slide d-block"><img class="d-block w-100" src="https://www.3ona51.com/images/actions/20190619-aardwolf-performa-apf-120rainbow-kit-superprice.png" alt="" title=""></a>
                    </div>
                    
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                  </div>
            </div>
        </div>
        
        <div class="px-1 brandBlock">
            <div class="d-flex flex-wrap p-0 mainWidth topBrands justify-content-center">
                  <p class="text-uppercase fnt1p5rem mainZ51ColFnt py-4 m-0">Топовые бренды</p>
                  
                  <div class="w-100 d-flex flex-wrap justify-content-around align-items-stretch pb-4">
                          <a class="brand" href="#">
                              <img class="w-100 d-block" src="./img/img/Rzr_logo%20copy.png" alt="" title="">
                          </a>
                          <a class="brand" href="#">
                              <img class="w-100 d-block" src="./img/img/steel_logo%20copy.png" alt="" title="">
                          </a>
                          <a class="brand" href="#">
                              <img class="w-100 d-block" src="./img/img/Hator_logo.png" alt="" title="">
                          </a>
                          <a class="brand" href="#">
                              <img class="w-100 d-block" src="./img/img/predator%20copy.png" alt="" title="">
                          </a>
                          <a class="brand" href="#">
                              <img class="w-100 d-block" src="./img/img/hyperx_logo.png" alt="" title="">
                          </a>
                  </div>
                  
            </div>
        </div>
    
        <div class="px-1 GoodsBlockV2">
            <div class="d-flex flex-wrap p-0 mainWidth topBrands justify-content-center">

                <div class="my-4 w-100">

                    <div class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                        <p class="mainContColFnt text-uppercase mb-0 mt-2 mr-4 fnt1p5rem">Лучшие предложения</p>
                        <div class="d-flex flex-wrap mt-2">
                            <a href="#" class="hoverLinkG cont mr-3">Все категории</a>
                            <a href="#" class="hoverDottedBorderGrey mr-3">Игровые поверхности</a>
                            <a href="#" class="hoverDottedBorderGrey mr-3">Подарки для геймеров</a>
                            <a href="#" class="hoverDottedBorderGrey mr-3">Услуги</a>
                            <a href="#" class="hoverDottedBorderGrey mr-3">Смотреть все</a>
                        </div>
                    </div>

                    
                    <div class="goods indexGoods w-100 d-flex flex-wrap justify-content-around pt-1">

                       <div class="goodWrap bannerInIndexGoods">
                           <div class="goodbl">
                               <img class="w-100" src="img/img/Layer%20580.png" alt="">
                               <a class="knowMore buttonFGr cont" href="">Узнать больше</a>
                           </div>
                       </div>

                     
                       <div class="goodWrap">
                           <div class="goodbl">
                               <div class="goodInfoTopL">
                                   <div class="orderCode">
                                       <span>Код для заказа: <span>55555</span></span>
                                       <div class="events">
                                           <span>Подарок</span>
                                           <span class="redEvent">Лучшая цена</span>
                                           <span class="orangeEvent">Топ продаж</span>
                                           <span class="darkvioletEvent">Выбор геймера</span>
                                       </div>
                                   </div> 
                               </div>
                               <div class="goodInfoTopR"> 
                                   <div class="events">
                                       <a class="action" href="#">Акция</a>
                                   </div>
                               </div>

                               <a class="goodName" href="#">
                                   <img src="https://www.3ona51.com/images/products/gaming-mouses/steelseries-rival-650-62456/600_1.jpg" alt="">
                                   <p><span class="textLimit" data-textSize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader & Obi Wan Kenobi (Exc) (23232WM)</span></p>
                               </a>
                               <div class="goodInfoBottom">
                                   <div class="w-100 d-flex flex-row justify-content-between align-items-end">
                                       <div class="priceBl">
                                           <div class="oldPrice">
                                               <s>2999</s><span>грн.</span>
                                           </div>
                                           <div class="newPrice">
                                               <span>1999</span><span>грн.</span>
                                           </div>
                                           <div class="buyStat">
                                               <a href="#">Предзаказ</a>
    <!--                                           <span>Купить</span>-->
    <!--                                           <span class="notify">Уведомить о наличии</span>-->
    <!--                                           <span class="inCart">В корзине</span>-->
                                           </div>
                                       </div>
                                       <div class="deliveryPickup">
                                           <span class="d-flex">Доступно <br>в кредит</span>
                                           <span class="d-flex notAvailable">Нет  <br>в наличии</span>
                                           <div class="pt-3 d-flex justify-content-around">
                                               <div class="goodIcons wish active" title="Добавить в список хеланий"></div>
                                               <div class="goodIcons comparison" title="Добавить в сравнение"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               
                               <div class="InfoHidden">
                                <div class="goodInfoHidden">
                                    <ul class="goodCh">
                                        <li>
                                            <span class="textLimit" data-textSize="19">Тип сенсора:</span>
                                            <span class="textLimit" data-textSize="11">Оптический</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Разрешение:</span>
                                            <span class="textLimit" data-textSize="11">12000 dpi</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Частота:</span>
                                            <span class="textLimit" data-textSize="11">1000 Hz</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Время отклика:</span>
                                            <span class="textLimit" data-textSize="11">1 ms</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Количество кнопок:</span>
                                            <span class="textLimit" data-textSize="15">7</span>
                                        </li>
                                    </ul>      
                                </div>   
                                <div class="goodRate justify-content-center d-flex flex-wrap">
                                    <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" style="font-size:50px" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div> 
                                    <a href="#">*****: 37 отзывов</a>
                                </div>  
                                </div>        
                           </div>
                       </div>

                       <div class="goodWrap">
                           <div class="goodbl">
                               <div class="goodInfoTopL">
                                   <div class="orderCode">
                                       <span>Код для заказа: <span>55555</span></span>
                                       <div class="events">
                                           <span>Подарок</span>
                                           <span class="redEvent">Лучшая цена</span>
                                           <span class="orangeEvent">Топ продаж</span>
                                           <span class="darkvioletEvent">Выбор геймера</span>
                                       </div>
                                   </div> 
                               </div>
                               <div class="goodInfoTopR"> 
                                   <div class="events">
                                       <a class="action" href="#">Акция</a>
                                   </div>
                               </div>

                               <a class="goodName" href="#">
                                   <img src="https://www.3ona51.com/images/products/gaming-mouses/steelseries-rival-650-62456/600_1.jpg" alt="">
                                   <p><span class="textLimit" data-textSize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader & Obi Wan Kenobi (Exc) (23232WM)</span></p>
                               </a>
                               <div class="goodInfoBottom">
                                   <div class="w-100 d-flex flex-row justify-content-between align-items-end">
                                       <div class="priceBl">
                                           <div class="oldPrice">
                                               <s>2999</s><span>грн.</span>
                                           </div>
                                           <div class="newPrice">
                                               <span>1999</span><span>грн.</span>
                                           </div>
                                           <div class="buyStat">
                                               <a href="#">Предзаказ</a>
    <!--                                           <span>Купить</span>-->
    <!--                                           <span class="notify">Уведомить о наличии</span>-->
    <!--                                           <span class="inCart">В корзине</span>-->
                                           </div>
                                       </div>
                                       <div class="deliveryPickup">
                                           <span class="d-flex">Доступно <br>в кредит</span>
                                           <span class="d-flex notAvailable">Нет  <br>в наличии</span>
                                           <div class="pt-3 d-flex justify-content-around">
                                               <div class="goodIcons wish active" title="Добавить в список хеланий"></div>
                                               <div class="goodIcons comparison" title="Добавить в сравнение"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               
                               <div class="InfoHidden">
                                <div class="goodInfoHidden">
                                    <ul class="goodCh">
                                        <li>
                                            <span class="textLimit" data-textSize="19">Тип сенсора:</span>
                                            <span class="textLimit" data-textSize="11">Оптический</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Разрешение:</span>
                                            <span class="textLimit" data-textSize="11">12000 dpi</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Частота:</span>
                                            <span class="textLimit" data-textSize="11">1000 Hz</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Время отклика:</span>
                                            <span class="textLimit" data-textSize="11">1 ms</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Количество кнопок:</span>
                                            <span class="textLimit" data-textSize="15">7</span>
                                        </li>
                                    </ul>      
                                </div>   
                                <div class="goodRate justify-content-center d-flex flex-wrap">
                                    <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" style="font-size:50px" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div> 
                                    <a href="#">*****: 37 отзывов</a>
                                </div>  
                                </div>        
                           </div>
                       </div>

                       <div class="goodWrap">
                           <div class="goodbl">
                               <div class="goodInfoTopL">
                                   <div class="orderCode">
                                       <span>Код для заказа: <span>55555</span></span>
                                       <div class="events">
                                           <span>Подарок</span>
                                           <span class="redEvent">Лучшая цена</span>
                                           <span class="orangeEvent">Топ продаж</span>
                                           <span class="darkvioletEvent">Выбор геймера</span>
                                       </div>
                                   </div> 
                               </div>
                               <div class="goodInfoTopR"> 
                                   <div class="events">
                                       <a class="action" href="#">Акция</a>
                                   </div>
                               </div>

                               <a class="goodName" href="#">
                                   <img src="https://www.3ona51.com/images/products/gaming-mouses/steelseries-rival-650-62456/600_1.jpg" alt="">
                                   <p><span class="textLimit" data-textSize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader & Obi Wan Kenobi (Exc) (23232WM)</span></p>
                               </a>
                               <div class="goodInfoBottom">
                                   <div class="w-100 d-flex flex-row justify-content-between align-items-end">
                                       <div class="priceBl">
                                           <div class="oldPrice">
                                               <s>2999</s><span>грн.</span>
                                           </div>
                                           <div class="newPrice">
                                               <span>1999</span><span>грн.</span>
                                           </div>
                                           <div class="buyStat">
                                               <a href="#">Предзаказ</a>
    <!--                                           <span>Купить</span>-->
    <!--                                           <span class="notify">Уведомить о наличии</span>-->
    <!--                                           <span class="inCart">В корзине</span>-->
                                           </div>
                                       </div>
                                       <div class="deliveryPickup">
                                           <span class="d-flex">Доступно <br>в кредит</span>
                                           <span class="d-flex notAvailable">Нет  <br>в наличии</span>
                                           <div class="pt-3 d-flex justify-content-around">
                                               <div class="goodIcons wish active" title="Добавить в список хеланий"></div>
                                               <div class="goodIcons comparison" title="Добавить в сравнение"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               
                               <div class="InfoHidden">
                                <div class="goodInfoHidden">
                                    <ul class="goodCh">
                                        <li>
                                            <span class="textLimit" data-textSize="19">Тип сенсора:</span>
                                            <span class="textLimit" data-textSize="11">Оптический</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Разрешение:</span>
                                            <span class="textLimit" data-textSize="11">12000 dpi</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Частота:</span>
                                            <span class="textLimit" data-textSize="11">1000 Hz</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Время отклика:</span>
                                            <span class="textLimit" data-textSize="11">1 ms</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Количество кнопок:</span>
                                            <span class="textLimit" data-textSize="15">7</span>
                                        </li>
                                    </ul>      
                                </div>   
                                <div class="goodRate justify-content-center d-flex flex-wrap">
                                    <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" style="font-size:50px" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div> 
                                    <a href="#">*****: 37 отзывов</a>
                                </div>  
                                </div>        
                           </div>
                       </div>
   
                       <div class="goodWrap">
                           <div class="goodbl">
                               <div class="goodInfoTopL">
                                   <div class="orderCode">
                                       <span>Код для заказа: <span>55555</span></span>
                                       <div class="events">
                                           <span>Подарок</span>
                                           <span class="redEvent">Лучшая цена</span>
                                           <span class="orangeEvent">Топ продаж</span>
                                           <span class="darkvioletEvent">Выбор геймера</span>
                                       </div>
                                   </div> 
                               </div>
                               <div class="goodInfoTopR"> 
                                   <div class="events">
                                       <a class="action" href="#">Акция</a>
                                   </div>
                               </div>

                               <a class="goodName" href="#">
                                   <img src="https://www.3ona51.com/images/products/gaming-mouses/steelseries-rival-650-62456/600_1.jpg" alt="">
                                   <p><span class="textLimit" data-textSize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader & Obi Wan Kenobi (Exc) (23232WM)</span></p>
                               </a>
                               <div class="goodInfoBottom">
                                   <div class="w-100 d-flex flex-row justify-content-between align-items-end">
                                       <div class="priceBl">
                                           <div class="oldPrice">
                                               <s>2999</s><span>грн.</span>
                                           </div>
                                           <div class="newPrice">
                                               <span>1999</span><span>грн.</span>
                                           </div>
                                           <div class="buyStat">
                                               <a href="#">Предзаказ</a>
    <!--                                           <span>Купить</span>-->
    <!--                                           <span class="notify">Уведомить о наличии</span>-->
    <!--                                           <span class="inCart">В корзине</span>-->
                                           </div>
                                       </div>
                                       <div class="deliveryPickup">
                                           <span class="d-flex">Доступно <br>в кредит</span>
                                           <span class="d-flex notAvailable">Нет  <br>в наличии</span>
                                           <div class="pt-3 d-flex justify-content-around">
                                               <div class="goodIcons wish active" title="Добавить в список хеланий"></div>
                                               <div class="goodIcons comparison" title="Добавить в сравнение"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               
                               <div class="InfoHidden">
                                <div class="goodInfoHidden">
                                    <ul class="goodCh">
                                        <li>
                                            <span class="textLimit" data-textSize="19">Тип сенсора:</span>
                                            <span class="textLimit" data-textSize="11">Оптический</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Разрешение:</span>
                                            <span class="textLimit" data-textSize="11">12000 dpi</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Частота:</span>
                                            <span class="textLimit" data-textSize="11">1000 Hz</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Время отклика:</span>
                                            <span class="textLimit" data-textSize="11">1 ms</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Количество кнопок:</span>
                                            <span class="textLimit" data-textSize="15">7</span>
                                        </li>
                                    </ul>      
                                </div>   
                                <div class="goodRate justify-content-center d-flex flex-wrap">
                                    <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" style="font-size:50px" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div> 
                                    <a href="#">*****: 37 отзывов</a>
                                </div>  
                                </div>        
                           </div>
                       </div>

                     
                       <div class="goodWrap">
                           <div class="goodbl">
                               <div class="goodInfoTopL">
                                   <div class="orderCode">
                                       <span>Код для заказа: <span>55555</span></span>
                                       <div class="events">
                                           <span>Подарок</span>
                                           <span class="redEvent">Лучшая цена</span>
                                           <span class="orangeEvent">Топ продаж</span>
                                           <span class="darkvioletEvent">Выбор геймера</span>
                                       </div>
                                   </div> 
                               </div>
                               <div class="goodInfoTopR"> 
                                   <div class="events">
                                       <a class="action" href="#">Акция</a>
                                   </div>
                               </div>

                               <a class="goodName" href="#">
                                   <img src="https://www.3ona51.com/images/products/gaming-mouses/steelseries-rival-650-62456/600_1.jpg" alt="">
                                   <p><span class="textLimit" data-textSize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader & Obi Wan Kenobi (Exc) (23232WM)</span></p>
                               </a>
                               <div class="goodInfoBottom">
                                   <div class="w-100 d-flex flex-row justify-content-between align-items-end">
                                       <div class="priceBl">
                                           <div class="oldPrice">
                                               <s>2999</s><span>грн.</span>
                                           </div>
                                           <div class="newPrice">
                                               <span>1999</span><span>грн.</span>
                                           </div>
                                           <div class="buyStat">
                                               <a href="#">Предзаказ</a>
    <!--                                           <span>Купить</span>-->
    <!--                                           <span class="notify">Уведомить о наличии</span>-->
    <!--                                           <span class="inCart">В корзине</span>-->
                                           </div>
                                       </div>
                                       <div class="deliveryPickup">
                                           <span class="d-flex">Доступно <br>в кредит</span>
                                           <span class="d-flex notAvailable">Нет  <br>в наличии</span>
                                           <div class="pt-3 d-flex justify-content-around">
                                               <div class="goodIcons wish active" title="Добавить в список хеланий"></div>
                                               <div class="goodIcons comparison" title="Добавить в сравнение"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               
                               <div class="InfoHidden">
                                <div class="goodInfoHidden">
                                    <ul class="goodCh">
                                        <li>
                                            <span class="textLimit" data-textSize="19">Тип сенсора:</span>
                                            <span class="textLimit" data-textSize="11">Оптический</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Разрешение:</span>
                                            <span class="textLimit" data-textSize="11">12000 dpi</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Частота:</span>
                                            <span class="textLimit" data-textSize="11">1000 Hz</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Время отклика:</span>
                                            <span class="textLimit" data-textSize="11">1 ms</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Количество кнопок:</span>
                                            <span class="textLimit" data-textSize="15">7</span>
                                        </li>
                                    </ul>      
                                </div>   
                                <div class="goodRate justify-content-center d-flex flex-wrap">
                                    <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" style="font-size:50px" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div> 
                                    <a href="#">*****: 37 отзывов</a>
                                </div>  
                                </div>        
                           </div>
                       </div>

                     
                       <div class="goodWrap">
                           <div class="goodbl">
                               <div class="goodInfoTopL">
                                   <div class="orderCode">
                                       <span>Код для заказа: <span>55555</span></span>
                                       <div class="events">
                                           <span>Подарок</span>
                                           <span class="redEvent">Лучшая цена</span>
                                           <span class="orangeEvent">Топ продаж</span>
                                           <span class="darkvioletEvent">Выбор геймера</span>
                                       </div>
                                   </div> 
                               </div>
                               <div class="goodInfoTopR"> 
                                   <div class="events">
                                       <a class="action" href="#">Акция</a>
                                   </div>
                               </div>

                               <a class="goodName" href="#">
                                   <img src="https://www.3ona51.com/images/products/gaming-mouses/steelseries-rival-650-62456/600_1.jpg" alt="">
                                   <p><span class="textLimit" data-textSize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader & Obi Wan Kenobi (Exc) (23232WM)</span></p>
                               </a>
                               <div class="goodInfoBottom">
                                   <div class="w-100 d-flex flex-row justify-content-between align-items-end">
                                       <div class="priceBl">
                                           <div class="oldPrice">
                                               <s>2999</s><span>грн.</span>
                                           </div>
                                           <div class="newPrice">
                                               <span>1999</span><span>грн.</span>
                                           </div>
                                           <div class="buyStat">
                                               <a href="#">Предзаказ</a>
    <!--                                           <span>Купить</span>-->
    <!--                                           <span class="notify">Уведомить о наличии</span>-->
    <!--                                           <span class="inCart">В корзине</span>-->
                                           </div>
                                       </div>
                                       <div class="deliveryPickup">
                                           <span class="d-flex">Доступно <br>в кредит</span>
                                           <span class="d-flex notAvailable">Нет  <br>в наличии</span>
                                           <div class="pt-3 d-flex justify-content-around">
                                               <div class="goodIcons wish active" title="Добавить в список хеланий"></div>
                                               <div class="goodIcons comparison" title="Добавить в сравнение"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               
                               <div class="InfoHidden">
                                <div class="goodInfoHidden">
                                    <ul class="goodCh">
                                        <li>
                                            <span class="textLimit" data-textSize="19">Тип сенсора:</span>
                                            <span class="textLimit" data-textSize="11">Оптический</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Разрешение:</span>
                                            <span class="textLimit" data-textSize="11">12000 dpi</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Частота:</span>
                                            <span class="textLimit" data-textSize="11">1000 Hz</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Время отклика:</span>
                                            <span class="textLimit" data-textSize="11">1 ms</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Количество кнопок:</span>
                                            <span class="textLimit" data-textSize="15">7</span>
                                        </li>
                                    </ul>      
                                </div>   
                                <div class="goodRate justify-content-center d-flex flex-wrap">
                                    <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" style="font-size:50px" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div> 
                                    <a href="#">*****: 37 отзывов</a>
                                </div>  
                                </div>        
                           </div>
                       </div>

                     
                       <div class="goodWrap">
                           <div class="goodbl">
                               <div class="goodInfoTopL">
                                   <div class="orderCode">
                                       <span>Код для заказа: <span>55555</span></span>
                                       <div class="events">
                                           <span>Подарок</span>
                                           <span class="redEvent">Лучшая цена</span>
                                           <span class="orangeEvent">Топ продаж</span>
                                           <span class="darkvioletEvent">Выбор геймера</span>
                                       </div>
                                   </div> 
                               </div>
                               <div class="goodInfoTopR"> 
                                   <div class="events">
                                       <a class="action" href="#">Акция</a>
                                   </div>
                               </div>

                               <a class="goodName" href="#">
                                   <img src="https://www.3ona51.com/images/products/gaming-mouses/steelseries-rival-650-62456/600_1.jpg" alt="">
                                   <p><span class="textLimit" data-textSize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader & Obi Wan Kenobi (Exc) (23232WM)</span></p>
                               </a>
                               <div class="goodInfoBottom">
                                   <div class="w-100 d-flex flex-row justify-content-between align-items-end">
                                       <div class="priceBl">
                                           <div class="oldPrice">
                                               <s>2999</s><span>грн.</span>
                                           </div>
                                           <div class="newPrice">
                                               <span>1999</span><span>грн.</span>
                                           </div>
                                           <div class="buyStat">
                                               <a href="#">Предзаказ</a>
    <!--                                           <span>Купить</span>-->
    <!--                                           <span class="notify">Уведомить о наличии</span>-->
    <!--                                           <span class="inCart">В корзине</span>-->
                                           </div>
                                       </div>
                                       <div class="deliveryPickup">
                                           <span class="d-flex">Доступно <br>в кредит</span>
                                           <span class="d-flex notAvailable">Нет  <br>в наличии</span>
                                           <div class="pt-3 d-flex justify-content-around">
                                               <div class="goodIcons wish active" title="Добавить в список хеланий"></div>
                                               <div class="goodIcons comparison" title="Добавить в сравнение"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               
                               <div class="InfoHidden">
                                <div class="goodInfoHidden">
                                    <ul class="goodCh">
                                        <li>
                                            <span class="textLimit" data-textSize="19">Тип сенсора:</span>
                                            <span class="textLimit" data-textSize="11">Оптический</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Разрешение:</span>
                                            <span class="textLimit" data-textSize="11">12000 dpi</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Частота:</span>
                                            <span class="textLimit" data-textSize="11">1000 Hz</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Время отклика:</span>
                                            <span class="textLimit" data-textSize="11">1 ms</span>
                                        </li>
                                        <li>
                                            <span class="textLimit" data-textSize="19">Количество кнопок:</span>
                                            <span class="textLimit" data-textSize="15">7</span>
                                        </li>
                                    </ul>      
                                </div>   
                                <div class="goodRate justify-content-center d-flex flex-wrap">
                                    <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" style="font-size:50px" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div> 
                                    <a href="#">*****: 37 отзывов</a>
                                </div>  
                                </div>        
                           </div>
                       </div>

        
                       <div class="goodWrap bannerInIndexGoodsBig">
                           <div class="goodbl">
                               <img class="w-100" src="img/img/Layer%20521.png" alt="">
                               <a class="knowMore buttonFGr cont" href="">Узнать больше</a>
                           </div>
                       </div>
        
                  
                  
                   </div>


                </div>
            </div>
        </div>
        
        <div class="grey2Bg my-4 subscribeUsBlock">
            <div class="px-1">
                <div class="d-flex flex-wrap pb-4 pt-3 mainWidth align-items-center justify-content-center subscribeInput">
                    <p class="mb-0 mt-2 mx-4 fnt1p25rem whiteFnt text-center">Подпишитесь и узнавайте первыми о наших акциях, распродажах, конкурсах, скидках.</p>
                    <div class="d-flex flex-wrap flex-lg-nowrap mx-4 mb-0 flex-grow-1 justify-content-center">
                        <input class="lH1p25rem flex-grow-1 mt-2" type="email" placeholder="Ваш Email" name="emailaddress">
                        <input class="text-uppercase font-weight-bold buttonFGr cont mt-2" type="submit" value="Подписаться">
                    </div>
                </div>
            </div>
        </div>

        <div class="px-1 videoBlock">
            <div class="d-flex flex-wrap p-0 contentWrapper mainWidth">
                <div class="videoWrap w-100 grey3Bg d-flex flex-wrap justify-content-center">
                    <p class="text-uppercase mt-0 mt-lg-4 mb-2 mb-lg-3 mainContColFnt fnt1p5rem">Видео о товаре</p>

                    <div class="w-100"></div>

                    <div class="videoBlock col-10 col-md-6 col-lg-4 p-0">
                        <div class="videoPadding">
                            <a class="videoLink" data-fancybox href="https://www.youtube.com/embed/s0eCRqMZ5FE">
                                <div class="btnLink d-flex align-items-center justify-content-center"></div>
                                <img class="card-img-top img-fluid" src="http://img.youtube.com/vi/s0eCRqMZ5FE/maxresdefault.jpg" />
                            </a>
                            <a data-fancybox href="https://www.youtube.com/embed/s0eCRqMZ5FE" class="p-0 text-center hoverLinkW cont fnt1p125rem my-2 my-lg-3 marginLRAuto col-12 col-sm-10 col-lg-8 d-block">Обзор Hator Hypergang: игровая гарнитура с шикарным микрофоном за 50$!</a>
                        </div>
                    </div>

                    <div class="videoBlock col-10 col-md-6 col-lg-4 p-0">
                        <div class="videoPadding">
                            <a class="videoLink" data-fancybox href="https://www.youtube.com/embed/A8KJwdVKTok">
                                <div class="btnLink d-flex align-items-center justify-content-center"></div>
                                <img class="card-img-top img-fluid" src="http://img.youtube.com/vi/A8KJwdVKTok/maxresdefault.jpg" />
                            </a>
                            <a data-fancybox href="https://www.youtube.com/embed/A8KJwdVKTok" class="p-0 text-center hoverLinkW cont fnt1p125rem my-2 my-lg-3 marginLRAuto col-12 col-sm-10 col-lg-8 d-block">Обзор Hator Hypergang: игровая гарнитура с шикарным микрофоном за 50$!</a>
                        </div>
                    </div>

                    <div class="videoBlock col-10 col-md-6 col-lg-4 p-0">
                        <div class="videoPadding">
                            <a class="videoLink" data-fancybox href="https://www.youtube.com/embed/dfYiIbqVhkA">
                                <div class="btnLink d-flex align-items-center justify-content-center"></div>
                                <img class="card-img-top img-fluid" src="http://img.youtube.com/vi/dfYiIbqVhkA/maxresdefault.jpg" />
                            </a>
                            <a data-fancybox href="https://www.youtube.com/embed/dfYiIbqVhkA" class="p-0 text-center hoverLinkW cont fnt1p125rem my-2 my-lg-3 marginLRAuto col-12 col-sm-10 col-lg-8 d-block">Обзор Hator Hypergang: игровая гарнитура с шикарным микрофоном за 50$!</a>
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <a href="#" class="subscribe mt-2 mb-2 mb-lg-4 d-flex flex-wrap align-items-center justify-content-center text-center"><span class="mt-1 hoverLinkW cont fnt1p125rem">Подпишись на наш Youtube-канал! </span><span class="youTube d-flex align-items-center align-self-stretch mt-1 mx-3"><span>YouTube</span> <span class="d-flex align-items-center">999+</span></span></a>

                </div>
            </div>
        </div>