    <div class="px-1 specificationBlock">
        <div class="d-flex flex-wrap justify-content-center my-3 mainWidth">
            <table class="specifications w-100">
					<tbody class="w-100">
						<tr class="specProdName">
							<td colspan="2">
								Кресла</td>
						</tr>
						<tr>
							<td>
								Материал рамы:</td>
							<td>
								Сталь</td>
						</tr>
						<tr>
							<td>
								Материал покрытия:</td>
							<td>
								Высококачественная PU-кожа</td>
						</tr>
						<tr>
							<td>Тип механизма:</td>
							<td>Butterfly</td>
						</tr>
						<tr>
							<td>Тип газлифта:</td>
							<td>Class 4</td>
						</tr>
						<tr>
							<td>Тип подлокотников:</td>
							<td>Эргономичные, с регулировкой по высоте</td>
						</tr>
						<tr>
							<td>Основание:</td>
							<td>Усиленная металлическая 5-лучевая звезда</td>
						</tr>
						<tr>
							<td>Плотность пены, кг/м3:</td>
							<td>50</td>
						</tr>
						<tr>
							<td>Размер колес:</td>
							<td>60 мм</td>
						</tr>
						<tr>
							<td>Материал колес:</td>
							<td>Полиуретан</td>
						</tr>
						<tr>
							<td>Максимальный угол наклона спинки:</td>
							<td>170°</td>
						</tr>
						<tr>
							<td>Подушки в комплекте:</td>
							<td>Поясничная и подголовная</td>
						</tr>
						<tr>
							<td>Ширина сидения:</td>
							<td>53 см</td>
						</tr>
						<tr>
							<td>Длина сидения:</td>
							<td>49 см</td>
						</tr>
						<tr>
							<td>Высота сидения:</td>
							<td>47 — 55 см</td>
						</tr>
						<tr>
							<td>Высота подлокотников:</td>
							<td>28 — 36 см</td>
						</tr>
						<tr>
							<td>Максимально допустимая нагрузка:</td>
							<td>до 150 кг</td>
						</tr>
						<tr>
							<td>Вес кресла:</td>
							<td>21,6 кг</td>
						</tr>
						<tr>
							<td>Размеры упаковки:</td>
							<td>86 x 70 x 33,5 см.</td>
						</tr>
						<tr>
							<td>Комплектация:</td>
							<td>Спинка, сидение, подголовная и поясничная подушки, механизм качания, газлифт, основание, колеса, крепежный комплект</td>
						</tr>
					</tbody>
				</table>
        </div>
    </div>
    
    
    <div class="px-1 discussionBlock">
        <div class="d-flex flex-wrap my-3 justify-content-center mainWidth">
            <div class="discussion maxW1000 grey2Border px-3 py-4">
               
                <div class="mb-3 hidddenContInside mainReview">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="d-flex flex-wrap align-items-center">
                            <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                            <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                            <span class="mr-4">"Natali"</span> 
                        </div>
                        <div class="d-flex flex-wrap align-items-center">
                            <span class="mr-1">оценка:</span>
                            <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                        </div>
                        <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                            <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                            <div class="d-flex flex-wrap flex-md-nowrap ml-3 ml-md-4 mt-3">
                                <span class="whiteFnt mr-2 mb-1 comentFeatures">Преимущества:</span>
                                <span>Кресло отличнейшее, выше всех похвал. Два месяца в использовании, нареканий нет совершенно, все точно соответствует описанию, комфортно. Использую оба валика и подголовный , и поясничный, очень приятный материал покрытия на ощупь и что удивительно совершенно не парит. Жаль, что нет возможности прикрепить фото как отлично смотрится в интерьере, хоть на вид громоздкое, но места занимает немного. Еффектная расцветка.</span>
                            </div>
                            <div class="d-flex flex-wrap flex-md-nowrap ml-3 ml-md-4 mt-3">
                                <span class="whiteFnt mr-2 mb-1 comentFeatures">Недостатки:</span>
                                <span>Не замечено.</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-end mt-3">
                                <span class="mr-2">Полезен ли отзыв?</span>
                                <span class="likes"></span> <span class="ml-1">1</span>
                                <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="ml-4 mt-2 answerlink"><span class="hoverLinkW cont cont showCont" data-visible=".ansverTextarea">Ответить</span></div>
                    <div class="dispNone ansverTextarea ml-3 ml-md-4 mt-2">
                        <form class="d-flex flex-wrap answer w-100" method="post">
                            <label class="mr-3" for="pub_text">Ответить:</label>
                            <textarea class="flex-grow-1 p-2 grey3Bg whiteFnt" name="pub_text" rows="4" required="required"></textarea>
                            <div class="w-100 d-flex justify-content-center mt-2">
                                <input class="buttonFGr cont py-1 px-2" type="submit" name="save" value="ОК">
                            </div>
                        </form>
                    </div>
                </div>
               
                <div class="mb-3 hidddenContInside mainQuestion">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="d-flex flex-wrap align-items-center">
                            <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                            <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                            <span class="mr-4">"Natali"</span> 
                        </div>
                        <div class="d-flex flex-wrap align-items-center">
                            <span class="mr-1">оценка:</span>
                            <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                        </div>
                        <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                            <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                            <div class="d-flex align-items-center justify-content-end mt-3">
                                <span class="likes"></span> <span class="ml-1">1</span>
                                <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
               
                <div class="mb-3 pl-4 hidddenContInside comentsRevQuest">
                  
                   <div>
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                  
                   <div class="dispNone ansversShow">
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                  
                   <div class="dispNone ansversShow">
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                  
                   <div class="dispNone ansversShow">
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                  
                   <div class="dispNone ansversShow">
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                  
                   <div class="dispNone ansversShow">
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                   
                    <div class="mt-2 answerlink">
                        <span class="hoverLinkW cont mr-3 showCont" data-visible=".ansverTextarea">Ответить</span>
                        <span class="hoverLinkW cont showCont" data-visible=".ansversShow">Показать все ответы <span>(5)</span></span>
                    </div>
                    
                    <div class="dispNone ansverTextarea ml-3 ml-md-4 mt-2">
                        <form class="d-flex flex-wrap answer w-100" method="post">
                            <label class="mr-3" for="pub_text">Ответить:</label>
                            <textarea class="flex-grow-1 p-2 grey3Bg whiteFnt" name="pub_text" rows="4" required="required"></textarea>
                            <div class="w-100 d-flex justify-content-center mt-2">
                                <input class="buttonFGr cont py-1 px-2" type="submit" name="save" value="ОК">
                            </div>
                        </form>
                    </div>
                </div>
               
                <div class="mb-3 hidddenContInside mainReview">
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="d-flex flex-wrap align-items-center">
                            <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                            <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                            <span class="mr-4">"Natali"</span> 
                        </div>
                        <div class="d-flex flex-wrap align-items-center">
                            <span class="mr-1">оценка:</span>
                            <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                        </div>
                        <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                            <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                            <div class="d-flex flex-wrap flex-md-nowrap ml-3 ml-md-4 mt-3">
                                <span class="whiteFnt mr-2 mb-1 comentFeatures">Преимущества:</span>
                                <span>Кресло отличнейшее, выше всех похвал. Два месяца в использовании, нареканий нет совершенно, все точно соответствует описанию, комфортно. Использую оба валика и подголовный , и поясничный, очень приятный материал покрытия на ощупь и что удивительно совершенно не парит. Жаль, что нет возможности прикрепить фото как отлично смотрится в интерьере, хоть на вид громоздкое, но места занимает немного. Еффектная расцветка.</span>
                            </div>
                            <div class="d-flex flex-wrap flex-md-nowrap ml-3 ml-md-4 mt-3">
                                <span class="whiteFnt mr-2 mb-1 comentFeatures">Недостатки:</span>
                                <span>Не замечено.</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-end mt-3">
                                <span class="mr-2">Полезен ли отзыв?</span>
                                <span class="likes"></span> <span class="ml-1">1</span>
                                <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
               
                <div class="mb-3 pl-4 hidddenContInside comentsRevQuest">
                  
                   <div>
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                  
                   <div class="dispNone ansversShow">
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                  
                   <div class="dispNone ansversShow">
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                  
                   <div class="dispNone ansversShow">
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                  
                   <div class="dispNone ansversShow">
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                  
                   <div class="dispNone ansversShow">
                       <div class="d-flex flex-wrap align-items-center">
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mainContColFnt mr-1">04 Июля 2019, 20:30</span> 
                               <img class="mr-1 ml-3" src="https://www.3ona51.com/images/styling/hator/20190124/logo-discussion.png" alt="ЗОНА51"> 
                               <span class="mr-4">"Natali"</span> 
                           </div>
                           <div class="d-flex flex-wrap align-items-center">
                               <span class="mr-1">оценка:</span>
                               <div class="rateit" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></div>
                           </div>
                           <div class="py-2 px-3 w-100 grey3Bg d-flex flex-column">
                               <span>Рекомендую всем. Хотелось бы чтоб материал колес действительно был полиуретан. </span>
                               <div class="d-flex align-items-center justify-content-end mt-3">
                                   <span class="likes"></span> <span class="ml-1">1</span>
                                   <span class="likes dislike ml-3"></span> <span class="ml-1">1</span>
                               </div>
                           </div>
                       </div>
                   </div>
                   
                    <div class="mt-2 answerlink">
                        <span class="hoverLinkW cont mr-3 showCont" data-visible=".ansverTextarea">Ответить</span>
                        <span class="hoverLinkW cont showCont" data-visible=".ansversShow">Показать все ответы <span>(5)</span></span>
                    </div>
                    
                    <div class="dispNone ansverTextarea ml-3 ml-md-4 mt-2">
                        <form class="d-flex flex-wrap answer w-100" method="post">
                            <label class="mr-3" for="pub_text">Ответить:</label>
                            <textarea class="flex-grow-1 p-2 grey3Bg whiteFnt" name="pub_text" rows="4" required="required"></textarea>
                            <div class="w-100 d-flex justify-content-center mt-2">
                                <input class="buttonFGr cont py-1 px-2" type="submit" name="save" value="ОК">
                            </div>
                        </form>
                    </div>
                
                </div>
               
               <div class="addRevQuest d-flex flex-wrap justify-content-center mb-3 switchBlock">
                   <div class="d-flex flex-wrap align-items-stretch justify-content-center col-11 p-0 mb-3">
                       <span class="d-block col-12 col-wsm-6 text-center p-3 buttonFGrey switch active" data-switch=".addRev">Написать отзыв</span>
                       <span class="d-block col-12 col-wsm-6 text-center p-3 buttonFGrey switch" data-switch=".addQuest">Задать вопрос</span>
                   </div>
                   
                   <form class="col-11 p-0">
                        
                        <div class="addQuest switchCont dispNone">
                            <div class="d-flex flex-column answer w-100 justify-content-center" method="post">
                                <label class="text-center mt-3 mb-2" for="con_text">Тема:</label>
                                <textarea class="flex-grow-1 p-2 grey2Bg whiteFnt" name="con_text" rows="2" required="required" placeholder=" - В чем вопрос?"></textarea>
                            </div>
                        </div>
                        
                      <div class="addRev switchCont">
                           <div class="d-flex flex-wrap align-items-center justify-content-center">
                                <span class="mr-1">Оцените товар:</span>
                                <div class="rateit fnt3p125rem" data-rateit-value="2.5" data-rateit-mode="font" data-rateit-ispreset="true" data-rateit-resetable="false"></div>
                            </div>
                        </div>
                        
                        <div>
                            <div class="d-flex flex-column answer w-100 justify-content-center" method="post">
                                <label class="text-center mt-3 mb-2" for="pub_text">Сообщение:</label>
                                <textarea class="flex-grow-1 p-2 grey2Bg whiteFnt" name="pub_text" rows="6" required="required" placeholder=" - Можете ли Вы рекомендовать этот продукт?
 - Остались ли Вы довольны покупкой в целом?
 - Что бы Вы порекомендовали улучшить в данном продукте?"></textarea>
                            </div>
                        </div>
                        
                        <div class="addRev switchCont">
                            <div class="d-flex flex-column answer w-100 justify-content-center" method="post">
                                <label class="text-center mt-3 mb-2" for="pro_text">Преимущества:</label>
                                <textarea class="flex-grow-1 p-2 grey2Bg whiteFnt" name="pro_text" rows="6" required="required" placeholder=" - Напишите, что Вам понравилось в этом продукте.
 - Достоинства, свойства, особенности, которые Вас порадовали."></textarea>
                            </div>
                        </div>
                        <div class="addRev switchCont">
                            <div class="d-flex flex-column answer w-100 justify-content-center" method="post">
                                <label class="text-center mt-3 mb-2" for="con_text">Недостатки:</label>
                                <textarea class="flex-grow-1 p-2 grey2Bg whiteFnt" name="con_text" rows="6" required="required" placeholder=" - Что не понравилось.
 - Насколько существенен недостаток."></textarea>
                            </div>
                        </div>
                        
                        <div class="w-100 d-flex justify-content-center mt-3">
                            <input class="buttonFGr cont py-2 px-3" type="submit" name="save" value="Отправить">
                        </div>
                   </form>
                   
               </div>
               
               <div class="logReg d-flex justify-content-center mb-3">
                   <div class="d-flex flex-wrap justify-content-center align-items-center col-11 p-4 mb-3 grey2Bg">
                       <span class="w-100 text-center mb-3">Зарегистрируйтесь, чтобы оставить отзыв/комментарий</span>
                       <a class="btnBrdr cont px-3 py-2 mx-2 mb-2" href="#">Регистрация</a>
                       <a class="btnBrdr modalbox cont px-3 py-2 mx-2 mb-2" href="#inAuth">Авторизация</a>
                   </div>
                    
               </div>
                
            </div>
        </div>
    </div>
