    <div class="px-1 aboutCompanyBlock">
        <div class="d-flex flex-wrap justify-content-center mb-3 mainWidth">

            <div class="maxW1000 grey2Border p-4">

                <p>Магазин "ЗОНА51" призван нести своим посетителям наиболее актуальные и интересные предложения рынка компьютерной техники.</p>

                <p>В продолжение традиций компании Eletek, в основе ассортимента положены в первую очередь товары для геймеров и компьютерных энтузиастов. Самые известные бренды и горячие новинки ждут Вас на страницах нашего сайта и на полках нашего необычного магазина. Всемирно известные бренды: Razer, Steelseries, MadCatz, Rapoo, AeroCool, Zalman и многие другие наиболее полно представленны в нашем ассортименте.</p>

                <p>Если Вы желаете сделать свой компьютер эксклюзивным во всем - от внешнего вида до производительности - то Вы попали по адресу. Если Вы профессиональный геймер, или собираетесь им стать, то Вам потребуется соответствующая экипировка – и никто не сможет Вам помочь в этом, лучше чем мы! Если вы просто ценитель компьютерных комплектующих наивысшего качества, - то опять-таки, Вы нашли то, что искали!</p>

                <p>Наша компания является пионером на украинском рынке товаров для геймеров и моддинга. Мы стояли у истоков целого направления в компьютерной технике, первыми на профессиональном уровне начав развивать этот сегмент, и получили широкое признание и доверие украинских потребителей, энтузиастов компьютерной сферы и мастеров киберспорта. Первыми начав, мы продолжаем сохранять лидерство на рынке в таких сегментах как: профессиональные игровые товары для киберспорта, товары для модинга, оверклокинга и создания бесшумных ПК, компьютерные корпуса и блоки питания категории HIGH-END (для мощных игровых систем и медиацентров). Мы постоянно расширяем наш ассортимент и первыми презентуем всеми горячо ожидаемые новинки!</p>

                <p>“ЗОНА51” - интернет-магазин, основанный на компетенции и профессионализме своих сотрудников, имеющих богатый опыт работы на рынке компьютерных комплектующих. И этот опыт обогащается с каждым днем нашей работы, в процессе работы с Вами, наши дорогие покупатели! Вместе с профессионализмом наших менеджеров постоянно увеличивается и количество сервисов на нашем сайте, облегчающих выбор нужных товаров. Ежедневно мы подбираем для Вас последние новости, интересные статьи и обзоры, касающиеся рынка товаров для геймеров и последних новинок в области моддинга.</p>

                <p>В нашем магазине Вы можете найти и сравнить большое количество компьютерных комплектующих: корпуса, блоки питания, системы охлаждения, оперативную память, игровые мыши и клавиатуры, и многое другое от пионеров технологий и ведущих мировых производителей. Практически вся представленная в нашем магазине продукция обслуживается, в случае надобности, в нашем сервисном центре. Поэтому Вы можете рассчитывать на своевременный и качественный послепродажный сервис.</p>

                <p>Наш магазин работает для Вас круглосуточно, принимая заказы и предоставляя актуальную и достоверную информацию. Главной нашей задачей является заложение фундамента доверия между магазином и клиентами, с этим успешно справляются наши менеджеры, которые всегда готовы оперативно ответить на любые вопросы, разъяснить важные моменты. Мы с радостью откликнемся на все Ваши пожелания и предложения, а также будем благодарны адекватной критике.</p>

                <p>Надеемся, что Ваши покупки станут ярким и приятным событием, а Вы навсегда останетесь нашим постоянным клиентом!</p>
         
            </div>

        </div>
    </div>
    
    
  