<div class="px-1 aboutUs">
    <div class="d-flex flex-wrap my-3 justify-content-center mainWidth">
            <img class="w-100 d-block mb-3" src="https://www.3ona51.com/images//static_pages/about_company/1.jpg" alt="About Us image 1" title="About Us zona51">
            <h2 class="w-100 mainZ51ColFnt py-4">Мы были первыми!</h2>
            <p class="fnt1p5rem pb-4">С момента своего основания в 2010 году мы остаемся крупнейшим в стране специализированным проектом, ориентированным на сообщество геймеров и киберспортсменов. Сегодня мы работаем семь дней в неделю в крупнейших городах Украины и продолжаем свое развитие вместе с вами!</p>
            <img class="w-100 d-block mb-3" src="https://www.3ona51.com/images//static_pages/about_company/2.jpg"  alt="About Us image 2" title="About Us game teams">
            <h2 class="w-100 mainZ51ColFnt py-4">Мы – это киберспорт!</h2>
            <p class="fnt1p5rem pb-4">С начала своей деятельности мы неизменно участвуем в киберспортивной жизни страны. Начиная с поддержки множества аматорских турниров и заканчивая своим непосредственным участием в самых масштабных и знаковых киберспортивных мероприятиях. Мы были рядом с вами на арене Олимпийского стадиона в рамках Starladder i-League CS:GO Invitational, и во время проведения пока единственного в Украине The Kiev Major Dota 2, а также на бесчисленном количестве других событий, помогая создавать для посетителей атмосферу настоящего киберспортивного праздника.</p>
            <p class="fnt1p5rem pb-4">За 10 лет наш магазин в Киеве видел такое количество звезд киберспорта первой величины со всего мира, сколько, мы подозреваем, не видел ни один другой во всем мире. И большинство из них не уходили от нас с пустыми руками)).  </p>
            <img class="w-100 d-block mb-3" src="https://www.3ona51.com/images//static_pages/about_company/4.jpg"  alt="About Us image 3" title="About Us RAZER">
            <h2 class="w-100 mainZ51ColFnt py-4">Мы ценим вас!</h2>
            <p class="fnt1p5rem pb-4">Политика нашего магазина всегда строилась на сокращении дистанции между Клиентом и тем продуктом, который в наибольшей степени удовлетворит его потребности. Для создания наилучшей возможности сделать правильный и осознанный выбор мы прилагаем максимум усилий. Эта работа начинается с он-лайна, где мы работаем над  информативным и качественным контентом, как на сайте, так и в наших соц.сетях; и продолжается в магазинах, где наш приоритет – дать возможность посетителям лично оценить качества интересующих продуктов, и соответственно, принять решение о покупке, основываясь не на надписях на упаковке, а на личном опыте.  </p>
            <img class="w-100 d-block mb-3" src="https://www.3ona51.com/images//static_pages/about_company/7.jpg"  alt="About Us image 4" title="About Us HATOR mouse keyboard inside">
            <h2 class="w-100 mainZ51ColFnt py-4">Мы – профессионалы!</h2>
            <p class="fnt1p5rem pb-4">Мы не из тех, кому все равно, чем торговать: наш ассортимент формируется с особым вниманием и тщательностью. Мы знаем практически все о тех продуктах, которые мы продаем. А если что-то вдруг осталось вне поля нашего зрения, то мы очень быстро найдем ответ на любой вопрос - как только он возникнет у вас! </p>
            <img class="w-100 d-block mb-3" src="https://www.3ona51.com/images//static_pages/about_company/5.jpg"  alt="About Us image 5" title="About Us Mortal Kombat">
            <h2 class="w-100 mainZ51ColFnt py-4">Мы – геймеры!</h2>
            <p class="fnt1p5rem pb-4">Мы сами являемся такими же заядлыми геймерами, как и вы! Для большинства наших сотрудников сыграть после работы катку в Dota 2 или зарубиться в Mortal Kombat – привычное дело. Поэтому будьте уверены, что мы с вами говорим на одном языке! </p>
           
    </div>
</div>

<div class="px-1 videoBlockInAboutUs">
    <div class="d-flex flex-wrap p-0 contentWrapper mainWidth">
        <div class="videoWrap w-100 d-flex flex-wrap justify-content-center">

            <div class="swiper-container swiperVideo w-100">
            <div class="swiper-wrapper">


                <div class="swiper-slide d-flex flex-wrap justify-content-center p-0">

                    <div class="col-10 col-md-8">
                    <div class="videoPadding">
                        <a class="videoLink" data-fancybox href="https://www.youtube.com/embed/G1nN-90x-xI">
                            <div class="btnLink d-flex align-items-center justify-content-center"></div>
                            <img class="card-img-top img-fluid" src="http://img.youtube.com/vi/G1nN-90x-xI/maxresdefault.jpg" />
                        </a>
                        <a data-fancybox href="https://www.youtube.com/embed/G1nN-90x-xI" class="p-0 text-center hoverLinkW cont fnt1p125rem my-2 my-lg-3 marginLRAuto col-12 col-sm-10 col-lg-8 d-block">ЗОНА51 — лучшие консультации по геймингу!</a>
                    </div>
                </div>

                </div>

            </div>
            <!-- Navigation -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>

        </div>

            <a href="https://www.youtube.com/user/3ona51com" class="subscribe mt-2 mb-2 mb-lg-4 d-flex flex-wrap align-items-center justify-content-center text-center"><span class="mt-1 hoverLinkW cont fnt1p125rem">Подпишись на наш Youtube-канал! </span><span class="youTube d-flex align-items-center align-self-stretch mt-1 mx-3"><span>YouTube</span> <span class="d-flex align-items-center">999+</span></span></a>

        </div>
    </div>
</div>
