 
       <div class="px-1 cartStaticBlock">
            <div class="d-flex flex-wrap justify-content-center mb-3 mainWidth">
                <div class="maxW1000 grey2Border p-4">

                    <div class="homeModals staticPage" id="inCart">

                        <!--        <p class="text-center mb-0 mainZ51ColFnt fnt1p5rem homeModalsTitle">Корзина пуста</p>-->
                        <p class="text-center mb-0 mainZ51ColFnt fnt1p5rem homeModalsTitle">Корзина</p>


                        <div class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center mx-1 mx-sm-2">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <div class="xButton red p-1 p-wsm-2 d-none d-wsm-block"></div>
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <div class="stepper stepper--style-2 js-spinner mt-1 mt-md-3">
                                        <input type="number" min="0" max="100" step="1" value="1" class="stepper__input">
                                        <div class="stepper__controls">
                                            <button type="button" spinner-button="up"></button>
                                            <button type="button" spinner-button="down"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </div>



                        <div class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center mx-1 mx-sm-2">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <div class="xButton red p-1 p-wsm-2 d-none d-wsm-block"></div>
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <div class="stepper stepper--style-2 js-spinner mt-1 mt-md-3">
                                        <input type="number" min="0" max="100" step="1" value="1" class="stepper__input">
                                        <div class="stepper__controls">
                                            <button type="button" spinner-button="up"></button>
                                            <button type="button" spinner-button="down"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </div>



                        <div class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center mx-1 mx-sm-2">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <div class="xButton red p-1 p-wsm-2 d-none d-wsm-block"></div>
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <div class="stepper stepper--style-2 js-spinner mt-1 mt-md-3">
                                        <input type="number" min="0" max="100" step="1" value="1" class="stepper__input">
                                        <div class="stepper__controls">
                                            <button type="button" spinner-button="up"></button>
                                            <button type="button" spinner-button="down"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </div>



                        <div class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center mx-1 mx-sm-2">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <div class="xButton red p-1 p-wsm-2 d-none d-wsm-block"></div>
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <div class="stepper stepper--style-2 js-spinner mt-1 mt-md-3">
                                        <input type="number" min="0" max="100" step="1" value="1" class="stepper__input">
                                        <div class="stepper__controls">
                                            <button type="button" spinner-button="up"></button>
                                            <button type="button" spinner-button="down"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </div>



                        <div class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center mx-1 mx-sm-2">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <div class="xButton red p-1 p-wsm-2 d-none d-wsm-block"></div>
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <s class="fnt0p875rem">688</s>
                                    <b class="whiteFnt">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <div class="stepper stepper--style-2 js-spinner mt-1 mt-md-3">
                                        <input type="number" min="0" max="100" step="1" value="1" class="stepper__input">
                                        <div class="stepper__controls">
                                            <button type="button" spinner-button="up"></button>
                                            <button type="button" spinner-button="down"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </div>



                        <div class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center mx-1 mx-sm-2">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <div class="xButton red p-1 p-wsm-2 d-none d-wsm-block"></div>
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <s class="fnt0p875rem">688</s>
                                    <b class="whiteFnt">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <div class="stepper stepper--style-2 js-spinner mt-1 mt-md-3">
                                        <input type="number" min="0" max="100" step="1" value="1" class="stepper__input">
                                        <div class="stepper__controls">
                                            <button type="button" spinner-button="up"></button>
                                            <button type="button" spinner-button="down"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </div>



                        <div class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center mx-1 mx-sm-2">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <div class="xButton red p-1 p-wsm-2 d-none d-wsm-block"></div>
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <s class="fnt0p875rem">688</s>
                                    <b class="whiteFnt">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <div class="stepper stepper--style-2 js-spinner mt-1 mt-md-3">
                                        <input type="number" min="0" max="100" step="1" value="1" class="stepper__input">
                                        <div class="stepper__controls">
                                            <button type="button" spinner-button="up"></button>
                                            <button type="button" spinner-button="down"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </div>

                        <div class="w-100">
                            <div class="d-flex flex-wrap flex-sm-nowrap pt-1 justify-content-around align-items-center">
                                <a href="#" class="xButton red hoverLinkW d-flex align-items-center lH1rem mx-1 my-1">Очистить корзину</a>
                                <span class="mx-1 my-1">Итого: <span class="whiteFnt">1998.00 грн.</span></span>
                            </div>

                            <div class="d-flex flex-wrap flex-sm-nowrap pb-1 justify-content-around justify-content-sm-between align-items-center cartButtons">
                                <a href="#" class="buttonFGr px-2 py-2 px-md-3 m-1 d-flex align-items-center">Продолжить покупки</a>
                                <a href="#" class="buttonFGr px-2 py-2 px-md-3 m-1 d-flex align-items-center">Оформить заказ</a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    
    