<div class="px-1 termsOfUse">
    <div class="my-3 mainWidth">
            <h2 class="w-100 mainZ51ColFnt pt-2">Общие условия</h2>
            <p class="fnt1p5rem pb-2">До просмотра сайта ознакомьтесь с Правилами использования сайта <a class="hoverLinkW" href="https://www.3ona51.com/">3ona51.com.</a> Если вы не согласны с Правилами, - не используйте сайт 3ona51.com. Администрация Сайта оставляет за собой право менять Правила Сайта без предварительного уведомления.</p>
            <h2 class="w-100 mainZ51ColFnt pt-2">Использование сайта</h2>
            <p class="fnt1p5rem pb-2">3ona51.com предоставляет вам доступ к материалам Сайта. Содержимое Сайта защищается Законом. Администрация Сайта не несёт ответственность за содержимое внешних ресурсов, ссылки на которые размещены на Сайте. Вы можете скачивать материалы Сайта для личного некоммерческого использования. Вносить изменения, распространять их или торговать ими без нашего письменного согласия нельзя.</p>
            <h2 class="w-100 mainZ51ColFnt pt-2">Регистрация</h2>
            <p class="fnt1p5rem pb-2">Регистрируясь на Сайте, вы предоставляете о себе правдивые личные данные, администрация Сайта обязуется соблюдать законодательство Украины о персональных данных. Администрация Сайта может использовать эти данные в маркетинговых целях.</p>
            <h2 class="w-100 mainZ51ColFnt pt-2">Размещение отзывов о работе магазина, комментариев</h2>
            <p class="fnt1p5rem pb-2">Размещая материалы и/или отзывы на сайте, пользователь несёт ответственность за содержание таких материалов, их соответствие законодательству, моральным и этическим нормам. <br>Администрация Сайта оставляет за собой право публиковать оставленные материалы по своему усмотрению, без уведомления автора.</p>
            <h2 class="w-100 mainZ51ColFnt pt-2">Отказ от ответственности</h2>
            <p class="fnt1p5rem pb-2">Предоставляя информацию о сервисах и товарах, Администрация Сайта не несёт ответственности в случае, если наполнение сервисов и конфигурации продуктов, представленных на сайте, изменены производителем без предварительного уведомления. <br>
            Администрация Сайта не несёт ответственность за правильность указанных на Сайте характеристик, а также за возможные ошибки различного характера. Изображения продуктов на Сайте могут отличаться от фактического вида товаров. Администрация оставляет за собой право вносить изменения в материалы сайта (услуги, продукты, цены), обновлять их по своему усмотрению. Администрация сайта не несет ответственности и не имеет обязательств перед пользователями в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта. Представленные на Сайте продукты могут быть доступны не во всех точках розничной торговли, цена их реализации может отличаться от указанной на сайте.</p>
            <p class="fnt1p5rem pb-2">Все права на сайт принадлежат ООО «Элпрофи» (код ЕГРПОУ 37025235, местонахождение: 03057, г. Киев, ул. Дегтяревская, 33а).</p>
            
    </div>
</div>



<div class="px-1 privacyPolicy">
    <div class="my-3 mainWidth">
            <p class="fnt1p5rem pb-2">Все права на сайт <a class="hoverLinkW" href="https://www.3ona51.com/">3ona51.com</a>  принадлежат ООО «Элпрофи» (код ЕГРПОУ 37025235, местонахождение: 03057, г. Киев, ул. Дегтяревская, 33а).</p>
            <p class="fnt1p5rem pb-2">Информация, предоставленная Вами, может использоваться ООО Елпрофи с целью обработки, сохранения и использования в коммерческой деятельности, в том числе передаче партнерам ООО Елпрофи для проведения маркетинговых активностей.</p>
            <p class="fnt1p5rem pb-2">Вы выражаете согласие на обработку Ваших персональных данных следующим образом:</p>
            <ul class="fnt1p5rem pb-2">
                <li>при посещении сайта 3ona51.com или совершении (подтверждении) Вами заказа на сайте 3ona51.com, то есть при приобретении товаров и / или услуг;</li>
                <li>при регистрации в личном кабинете на сайте 3ona51.com;</li>
                <li>при участии в рекламных активностях ООО Елпрофи в соответствии с правилами проведения таких мероприятий.</li>
            </ul class="fnt1p5rem pb-2">
            <p class="fnt1p5rem pb-2">Такой перечень порядка предоставления согласия на обработку Ваших персональных данных не является исчерпывающим и согласовывается ООО Елпрофи и клиентом (потребителем) и / или доводится до сведения клиента (потребителя).</p>
            <p class="fnt1p5rem pb-2">Мы используем файлы cookie для хранения информации о товарах добавленных в вашу корзину, списков сравнения и желаемых товаров, онлайн-чата, а также отображения предложений которые с нашей точки зрения могут вас заинтересовать.    Если Вы продолжаете пользоваться нашим сайтом, это означает Ваше согласие на использование нами (cookies) и получения Вами всех файлов cookie, и нашу возможность отправлять Вам самую свежую информацию о самых актуальных предложениях и акциях. Вы в любое время можете отказаться от рассылки или запретить использовать cookie путем персональных настроек Вашего устройства.</p>
            <p class="fnt1p5rem pb-2">При посещении сайта и интернет-магазина 3ona51.com мы собираем, храним и обрабатываем такую информацию как IP-адрес, дату и время посещения, тип и язык браузера, файлы coockies — исключительно для предоставления услуг сайта и интернет-магазина, оптимизации их работы, а также для защиты целостности информационного пространства сайта.</p>
            
    </div>
</div>