    <div class="px-1 feedbackPropositionBlock">
        <div class="d-flex flex-wrap justify-content-center mb-3 mainWidth">

            <div class="maxW1000 d-flex flex-wrap justify-content-center grey2Border p-4">

                <form class="w-100">
                   
                    <div class="w-100" method="post">
                        <label class="mb-1 w-100" for="con_text">Введите email-адрес, на который можно будет отправить Вам ответ:</label>
                        <input type="email"class="px-1 py-1" name="con_text" placeholder="example@gmail.com">
                    </div>

                    <div class="w-100" method="post">
                        <label class="mt-2 mb-1" for="con_text">Введите текст сообщения</label>
                        <textarea class="w-100 p-2 grey2Bg whiteFnt" name="con_text" rows="6" required="required"></textarea>
                    </div>

                    <div class="w-100 d-flex justify-content-center mt-2">
                        <input class="buttonFGr cont py-2 px-3" type="submit" name="save" value="Отправить">
                    </div>
                    
                </form>
                    
                <div class="mt-2">
                    <p>Для того, чтоб вы могли получить наиболее точный ответ на свое сообщение, и избежать дополнительных задержек на выяснение этих вопросов у вас, просьба указывать в тексте сразу как можно больше информации:</p>
                    <ul>
                        <li>По заказам: указывайте номер заказа</li>
                        <li>По доставке: указывайте номер декларации, или, если вы его еще не получили, то номер заказа</li>
                        <li>По предварительной стоимости доставки: указывайте наименования товаров, службу доставки и свой город/область</li>
                        <li>По сервисному обслуживанию: указывайте наименование товара, максимально описывайте характер неисправности, и если еще не истек срок гарантии - то номер гарантийного талона</li>
                        <li>По сотрудничеству: пишите полностью ваше предложение, обязательно указывайте название вашей организации/интернет-ресурса. сообщения не содержащие сути вашего предложения, и различные "дайте контакт, мы вышлем вам предложение", "я представляю хороший ресурс, хотите с нами сотрудничать?" и т.п. - игнорируются.</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    