      
        <div class="px-1 shippingPay shippingBlock">
            <div class="d-flex flex-wrap my-3 justify-content-center mainWidth">
                <div class="d-flex flex-wrap grey2Border px-3 py-4">
                    <h2 class="w-100 text-center mainZ51ColFnt">Типы доставки</h2>
                    <div class="w-100"></div>

                    <div class="d-flex justify-content-center col-12 col-sm-6 col-lg-3 p-0 mt-4">
                        <div class="col-11 p-0">
                            <img class="shippingPayImg" src="https://www.3ona51.com/images/news/20180330/nova.png" alt="">
                            <h3 class="fnt1p25rem"><b class="d-block text-center mainZ51ColFnt">Новая Почта</b class="text-center mainZ51ColFnt"></h3>
                            <p>Достака заказа в отделение Новой Почты или адресная доставка.</p>
                            <ul class="pl-4">
                                <li>Стоимость доставки на отделение – 50 грн.</li>
                                <li>Доставка кресел и столов на отделение - бесплатно.</li>
                                <li>Стоимость доставки крупногабаритных грузов (объемный вес более 20 кг.) - 100 грн.</li>
                                <li>Стоимость адресной доставки кресел и столов  - 150 грн.</li>
                            </ul>
                            <p class="fnt0p8125rem"><em>*Доставка осуществляется до подъезда.</em></p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center col-12 col-sm-6 col-lg-3 p-0 mt-4">
                        <div class="col-11 p-0">
                            <img class="shippingPayImg" src="https://www.3ona51.com/images/news/20150515/courier.png" alt="">
                            <h3 class="fnt1p25rem"><b class="d-block text-center mainZ51ColFnt">Доставка кресел и столов курьером </b class="text-center mainZ51ColFnt"></h3>
                            <ul class="pl-4">
                                <li>г. Киев, Одесса, Харьков, Львов</li>
                                <li>Стоимость доставки 100 грн.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center col-12 col-sm-6 col-lg-3 p-0 mt-4">
                        <div class="col-11 p-0">
                            <img class="shippingPayImg" src="https://www.3ona51.com/images/news/20150515/courier.png" alt="">
                            <h3 class="fnt1p25rem"><b class="d-block text-center mainZ51ColFnt">Доставка курьером</b class="text-center mainZ51ColFnt"></h3>
                            <ul class="pl-4">
                                <li>г. Киев, Одесса, Харьков, Львов</li>
                                <li>При заказе на сумму свыше 2500 грн. - доставка бесплатная.</li>
                            </ul>
                            <p class="fnt0p8125rem"><em>*Доставка осуществляется до подъезда.</em></p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center col-12 col-sm-6 col-lg-3 p-0 mt-4">
                        <div class="col-11 p-0">
                            <img class="shippingPayImg" src="https://www.3ona51.com/images/news/20150515/delivery.png" alt="">
                            <h3 class="fnt1p25rem"><b class="d-block text-center mainZ51ColFnt">Самовывоз из магазина</b class="text-center mainZ51ColFnt"></h3>
                            <p>Вы можете забрать свой заказ из наших магазинов: </p>
                            <ul class="pl-4">
                                <li><span>г. Киев, ул. Гетьмана, 13</span></li>
                                <li>г. Харьков, ул. Гиршмана, 17</li>
                                <li>г. Одесса, ул. Троицкая, 30</li>
                                <li>г. Львов, ул. Кольберга, 3</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        
        
        <div class="px-1 shippingPay payBlock">
            <div class="d-flex flex-wrap my-3 justify-content-center mainWidth">
                <div class="d-flex flex-wrap grey2Border px-3 py-4">
                    <h2 class="w-100 text-center mainZ51ColFnt"> Формы оплаты</h2>
                    <div class="w-100"></div>

                    <div class="d-flex justify-content-center col-12 col-sm-6 col-lg-3 p-0 mt-4">
                        <div class="col-11 p-0">
                            <img class="shippingPayImg" src="https://www.3ona51.com/images/news/20150515/money.png" alt="">
                            <h3 class="fnt1p25rem"><b class="d-block text-center mainZ51ColFnt">Наличными</b class="text-center mainZ51ColFnt"></h3>
                            <p>Оплата наличными при получении товара.</p>
                            <p class="fnt0p8125rem"><em>*Оплата наличными при доставке службами Новая Почта и Мост Экспресс ограничивается суммой 10 000 грн.</em></p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center col-12 col-sm-6 col-lg-3 p-0 mt-4">
                        <div class="col-11 p-0">
                            <img class="shippingPayImg" src="https://www.3ona51.com/images/news/20150515/cheque.png" alt="">
                            <h3 class="fnt1p25rem"><b class="d-block text-center mainZ51ColFnt"> Через банковское отделение</b class="text-center mainZ51ColFnt"></h3>
                            <p>Производится в кассе любого банка или с расчетного счета предприятия согласно выставленной счет-фактуре. Доставка товара осуществляется после поступления средств на наш расчетный счет.</p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center col-12 col-sm-6 col-lg-3 p-0 mt-4">
                        <div class="col-11 p-0">
                            <img class="shippingPayImg" src="https://www.3ona51.com/images/news/20150515/cheque.png" alt="">
                            <h3 class="fnt1p25rem"><b class="d-block text-center mainZ51ColFnt"> Платежные карты Visa и MasterCard</b class="text-center mainZ51ColFnt"></h3>
                            <p>Оплата он-лайн картой любого банка. Доставка товара осуществляется после получения оплаты. Также возможна оплата платежными картами в нашх магазинах в городах: Киев, Харьков, Одесса и Львов.</p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center col-12 col-sm-6 col-lg-3 p-0 mt-4">
                        <div class="col-11 p-0">
                            <img class="shippingPayImg" src="https://www.3ona51.com/images/news/20150515/delivery.png" alt="">
                            <h3 class="fnt1p25rem"><b class="d-block text-center mainZ51ColFnt"> Приват24</b class="text-center mainZ51ColFnt"></h3>
                            <p>Оплата он-лайн через систему Приват24 (через ваш электронный банкинг или платежные терминалы ПриватБанка). Доставка товара осуществляется после получения оплаты.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        