
    <div class="px-1 ordersJournalBlock">
        <div class="d-flex justify-content-center mb-3 mainWidth">
            <div class="maxW1000">
                <p class="text-center mb-1 mainZ51ColFnt fnt1p5rem homeModalsTitle">История заказов</p>
                <a class="hoverLinkW" href="#">Отменен <span>(75)</span></a>
                <span class="mx-2">|</span>
                <a class="hoverLinkW" href="#">В обработке <span>(75)</span></a>
                
                <div class="homeModals staticPage customDrop px-1 px-wsm-3 py-2 mt-2" id="inCart">
                    <div class="dropItem d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                       
                        <div class="d-flex arrBl item250 align-items-center">
                            <span class="whiteFnt mx-2">№ 123450 (Счт-654321)</span>
                        </div>
                        
                        <span class="mainContColFnt mx-2">2019.09.09 15:41</span>

                        <span class="whiteFnt mx-2">15 товаров на 100000 грн.</span>
                        
                        <span class="redFnt mx-2">Отменен</span>
                        
                        <div class="d-flex flex-wrap goodImages align-items-center justify-content-center w-100">
                                <img src="https://www.3ona51.com/images/products/razer/blackwidow-tournament-edition-chroma-v2-orange-switch-rz03-02190700-r3m1/100.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                            </div>
                        
                    </div>
                    
                    
                    <ul class="hiddenDrop listStyleNone p-0 m-0">
                       
                        <li class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <b class="whiteFnt mt-1 mt-md-3">1</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </li>
                       
                        <li class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <b class="whiteFnt mt-1 mt-md-3">1</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </li>
                       
                        <li class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <b class="whiteFnt mt-1 mt-md-3">1</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </li>
                       
                        <li class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <b class="whiteFnt mt-1 mt-md-3">1</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </li>
                       
                        <li class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <b class="whiteFnt mt-1 mt-md-3">1</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </li>

                        <li class="w-100 d-flex flex-wrap justify-content-center">
                            <div class="d-flex flex-wrap flex-sm-nowrap pt-1 justify-content-between w-100">
                                <div>
                                    <span class="m-1 d-block">Оплата: <span class="whiteFnt">Наложенный платеж</span></span>
                                    <span class="m-1 d-block">Доставка: <span class="whiteFnt">Новая Почта</span></span>
                                </div>
                                <div>
                                    <span class="m-1 d-block">Бонусы: <span class="whiteFnt">123 баллов</span></span>
                                    <span class="m-1 d-block">Доставка: <span class="whiteFnt">198.00 грн.</span></span>
                                    <span class="m-1 d-block">Итого: <span class="whiteFnt">1998.00 грн.</span></span>
                                </div>
                            </div>
                            <a href="#" class="m-1 px-3 py-2 btnBrdr">Детальная информация</a>
                        </li>
                    </ul>

                </div>


                <div class="homeModals staticPage customDrop px-1 px-wsm-3 py-2 mt-2" id="inCart">
                    <div class="dropItem d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                       
                        <div class="d-flex arrBl item250 align-items-center">
                            <span class="whiteFnt mx-2">№ 123450 (Счт-654321)</span>
                        </div>
                        
                        <span class="mainContColFnt mx-2">2019.09.09 15:41</span>

                        <span class="whiteFnt mx-2">1 товар на 1000 грн.</span>
                        
                        <span class="mainZ51ColFnt mx-2">Выполнен</span>
                        
                        <div class="d-flex flex-wrap goodImages align-items-center justify-content-center w-100">
                                <img src="https://www.3ona51.com/images/products/razer/blackwidow-tournament-edition-chroma-v2-orange-switch-rz03-02190700-r3m1/100.jpg" alt="">
                            </div>
                        
                    </div>
                    
                    
                    <ul class="hiddenDrop listStyleNone p-0 m-0">
                       
                        <li class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <b class="whiteFnt mt-1 mt-md-3">1</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </li>
                       
                        <li class="w-100 d-flex flex-wrap justify-content-center">
                            <div class="d-flex flex-wrap flex-sm-nowrap pt-1 justify-content-between w-100">
                                <div>
                                    <span class="m-1 d-block">Оплата: <span class="whiteFnt">Наложенный платеж</span></span>
                                    <span class="m-1 d-block">Доставка: <span class="whiteFnt">Новая Почта</span></span>
                                </div>
                                <div>
                                    <span class="m-1 d-block">Бонусы: <span class="whiteFnt">123 баллов</span></span>
                                    <span class="m-1 d-block">Доставка: <span class="whiteFnt">198.00 грн.</span></span>
                                    <span class="m-1 d-block">Итого: <span class="whiteFnt">1998.00 грн.</span></span>
                                </div>
                            </div>
                            <a href="#" class="m-1 px-3 py-2 btnBrdr">Детальная информация</a>
                        </li>
                    </ul>

                </div>


                <div class="homeModals staticPage customDrop px-1 px-wsm-3 py-2 mt-2" id="inCart">
                    <div class="dropItem d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                       
                        <div class="d-flex arrBl item250 align-items-center">
                            <span class="whiteFnt mx-2">№ 123450 (Счт-654321)</span>
                        </div>
                        
                        <span class="mainContColFnt mx-2">2019.09.09 15:41</span>

                        <span class="whiteFnt mx-2">10 товаров на 100000 грн.</span>
                        
                        <span class="mainZ51ColFnt mx-2">Выполнен</span>
                        
                        <div class="d-flex flex-wrap goodImages align-items-center justify-content-center w-100">
                                <img src="https://www.3ona51.com/images/products/razer/blackwidow-tournament-edition-chroma-v2-orange-switch-rz03-02190700-r3m1/100.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                                <img src="https://www.3ona51.com/images/products/zowie/ec1_a/100_3.jpg" alt="">
                            </div>
                        
                    </div>
                    
                    
                    <ul class="hiddenDrop listStyleNone p-0 m-0">
                       
                        <li class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <b class="whiteFnt mt-1 mt-md-3">1</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </li>
                       
                        <li class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <b class="whiteFnt mt-1 mt-md-3">1</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </li>
                       
                        <li class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <b class="whiteFnt mt-1 mt-md-3">1</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </li>
                       
                        <li class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <b class="whiteFnt mt-1 mt-md-3">1</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </li>
                       
                        <li class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                            <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                                <a class="cartItemImg" href="#">
                                    <img src="img/img/100.jpg" alt="" title="">
                                </a>
                                <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                    <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                    <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Цена</span>
                                    <b class="whiteFnt mt-1 mt-md-3">688</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Количество</span>
                                    <b class="whiteFnt mt-1 mt-md-3">1</b>
                                </div>
                                <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                    <span class="fnt1p125rem">Сумма</span>
                                    <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                                </div>
                            </div>
                        </li>

                        <li class="w-100 d-flex flex-wrap justify-content-center">
                            <div class="d-flex flex-wrap flex-sm-nowrap pt-1 justify-content-between w-100">
                                <div>
                                    <span class="m-1 d-block">Оплата: <span class="whiteFnt">Наложенный платеж</span></span>
                                    <span class="m-1 d-block">Доставка: <span class="whiteFnt">Новая Почта</span></span>
                                </div>
                                <div>
                                    <span class="m-1 d-block">Бонусы: <span class="whiteFnt">123 баллов</span></span>
                                    <span class="m-1 d-block">Доставка: <span class="whiteFnt">198.00 грн.</span></span>
                                    <span class="m-1 d-block">Итого: <span class="whiteFnt">1998.00 грн.</span></span>
                                </div>
                            </div>
                            <a href="#" class="m-1 px-3 py-2 btnBrdr">Детальная информация</a>
                        </li>
                   
                     </ul>

                </div>


            </div>
        </div>
    </div>
    
  