 
      <div class="px-1 orderBlock">
        <div class="d-flex flex-wrap justify-content-center mb-3 mainWidth">
            <div class="d-flex flex-wrap maxW1000 grey2Border p-4 justify-content-between">
                <div class="px-0 px-wsm-2 mb-3 orderInfo">
                    <h3 class="fnt1p125rem mainZ51ColFnt text-uppercase m-0 mb-1">Заказчик</h3>
                    <span class="d-block whiteFnt">Номер: <span>123456</span></span>
                    <span class="d-block whiteFnt">Счет: <span>Счт-236578</span></span>
                    <span class="d-block whiteFnt">Дата: <span>2019.09.09 12:02</span></span>
                    <span class="d-block whiteFnt">Покупатель: <span>Гость</span></span>
                    <span class="d-block whiteFnt">IP-адрес покупателя: <span>94.131.222.22</span></span>
                    <span class="d-block whiteFnt">Контактый телефон: <span>06812325256</span></span>
                </div>
                <div class="px-0 px-wsm-2 mb-3 orderInfo">
                    <h3 class="fnt1p125rem mainZ51ColFnt text-uppercase m-0 mb-1">Плательщик</h3>
                    <span class="d-block whiteFnt">Метод оплаты: <span>Наличными</span></span>
                    <span class="d-block whiteFnt">ФИО плательщика: <span>Петров Петр Петрович</span></span>
                    <span class="d-block whiteFnt">Адрес плательщика: <span>Киев, ул.Булгаковского, 32</span></span>
                </div>
                <div class="px-0 px-wsm-2 mb-3 orderInfo">
                    <h3 class="fnt1p125rem mainZ51ColFnt text-uppercase m-0 mb-1">Получатель</h3>
                    <span class="d-block whiteFnt">Способ доставки: <span>Наличными</span></span>
                    <span class="d-block whiteFnt">ФИО получателя: <span>Петров Петр Петрович</span></span>
                    <span class="d-block whiteFnt">Адрес получателя: <span>Киев, ул.Булгаковского, 32</span></span>
                </div>
                <div class="px-0 px-wsm-2 mb-3 w-100">
                    <h3 class="fnt1p125rem mainZ51ColFnt text-uppercase m-0 mb-1">Комментарий</h3>
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore beatae facilis, illo eum nesciunt atque quas architecto aliquid dolores dolorum rerum necessitatibus reprehenderit? Eligendi aperiam recusandae quos iure minus placeat.</p>
                </div>
                <div class="px-0 px-wsm-2 mb-3 w-100 homeModals staticPage">
                    <h3 class="fnt1p125rem mainZ51ColFnt text-uppercase m-0 mb-1">Заказанные товары</h3>
                    
                    <div class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                        <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                            <a class="cartItemImg" href="#">
                                <img src="img/img/100.jpg" alt="" title="">
                            </a>
                            <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                            <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                <span class="fnt1p125rem">Цена</span>
                                <b class="whiteFnt mt-1 mt-md-3">688</b>
                            </div>
                            <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                <span class="fnt1p125rem">Количество</span>
                                <b class="whiteFnt mt-1 mt-md-3">1</b>
                            </div>
                            <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                <span class="fnt1p125rem">Сумма</span>
                                <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                            </div>
                        </div>
                    </div>

                    <div class="cartItem d-flex flex-wrap flex-md-nowrap align-items-center">
                        <div class="d-flex align-items-center justify-content-center mb-0 mb-md-2 mt-2">
                            <a class="cartItemImg" href="#">
                                <img src="img/img/100.jpg" alt="" title="">
                            </a>
                            <div class="flex-grow-1 pl-1 pr-0 px-lg-2 d-flex flex-column">
                                <a href="#" class="hoverLinkG mb-2 textLimit" data-textsize="97">Funko POP! Bobble 2-Pack: Star Wars: Movie Moments: Darth Vader &amp; Obi Wan Kenobi (Exc) (23232WM)</a>
                                <span class="fnt0p875rem">Код товара: <span class="whiteFnt">44924648</span></span>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-center flex-grow-1 flex-grow-md-0 mt-0 mb-2 my-md-2">
                            <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                <span class="fnt1p125rem">Цена</span>
                                <b class="whiteFnt mt-1 mt-md-3">688</b>
                            </div>
                            <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                <span class="fnt1p125rem">Количество</span>
                                <b class="whiteFnt mt-1 mt-md-3">1</b>
                            </div>
                            <div class="d-flex flex-column align-items-center mx-2 mx-sm-4">
                                <span class="fnt1p125rem">Сумма</span>
                                <b class="mainZ51ColFnt mt-1 mt-md-3">688</b>
                            </div>
                        </div>
                    </div>

                    <div class="w-100 d-flex flex-wrap justify-content-center">
                            <div class="d-flex flex-wrap flex-sm-nowrap pt-1 justify-content-between w-100">
                                <div>
                                    <span class="m-1 d-block">Бонусы: <span class="whiteFnt">+123 баллов</span></span>
                                </div>
                                <div>
                                    <span class="m-1 d-block">Сумма: <span class="whiteFnt">1998.00 грн.</span></span>
                                    <span class="m-1 d-block">Итого к оплате: <span class="mainZ51ColFnt fnt1p1375rem">1998.00 грн.</span></span>
                                </div>
                            </div>
                        </div>
                   
                    
                </div>
                
                <div class="px-0 px-wsm-2 mb-3 w-100 homeModals staticPage d-none d-md-block">
                    <h3 class="fnt1p125rem mainZ51ColFnt text-uppercase m-0 mb-1">История выполнения заказа</h3>
                  <table class="orderStory">
                      <tbody>
                          <tr>
                              <td>Дата изменения</td>
                              <td>Статус</td>
                              <td>Изменил менеджер</td>
                              <td>Комментарий</td>
                          </tr>
                          <tr>
                              <td>2019.03.13 10:06:01</td>
                              <td>Отменен</td>
                              <td>Михайлюк В.Н.</td>
                              <td></td>
                          </tr>
                          <tr>
                              <td>2019.03.13 09:31:00</td>
                              <td>Новый</td>
                              <td>ЗОНА51 ..</td>
                              <td>Содержимое заказа изменено</td>
                          </tr>
                          <tr>
                              <td>2019.03.13 09:27:58</td>
                              <td>Новый</td>
                              <td>Покупатель</td>
                              <td>[авто,система]</td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                
            </div>    
        </div>
    </div>
  
  
  